#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <100>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0 1>; \
  };

COMBO(c_ha, &macro_c_ha, 27 33 57)
COMBO(c_ta, &macro_c_ta, 18 27 57)
COMBO(c_yr, &macro_c_yr, 17 20 57)
COMBO(c_wl, &macro_c_wl, 15 36 57)
COMBO(c_te, &macro_c_te, 16 18 57)
COMBO(c_ts, &macro_c_ts, 18 28 57)
COMBO(c_wi, &macro_c_wi, 15 22 57)
COMBO(c_mk, &macro_c_mk, 35 47 57)
COMBO(c_ti, &macro_c_ti, 18 22 57)
COMBO(c_al, &macro_c_al, 27 36 57)
COMBO(c_we, &macro_c_we, 15 16 57)
COMBO(c_tm, &macro_c_tm, 18 47 57)
COMBO(c_oe, &macro_c_oe, 16 23 57)
COMBO(c_tk, &macro_c_tk, 18 35 57)
COMBO(c_wd, &macro_c_wd, 15 29 57)
COMBO(c_th, &macro_c_th, 18 33 57)
COMBO(c_gd, &macro_c_gd, 29 31 57)
COMBO(c_pe, &macro_c_pe, 16 24 57)
COMBO(c_ko, &macro_c_ko, 23 35 57)
COMBO(c_ya, &macro_c_ya, 20 27 57)
COMBO(c_me, &macro_c_me, 16 47 57)
COMBO(c_sm, &macro_c_sm, 28 47 57)
COMBO(c_the, &macro_c_the, 16 18 33 57)
COMBO(c_tn, &macro_c_tn, 18 46 57)
COMBO(c_wr, &macro_c_wr, 15 17 57)
COMBO(c_thk, &macro_c_thk, 18 33 35 57)
COMBO(c_cm, &macro_c_cm, 42 47 57)
COMBO(c_wa, &macro_c_wa, 15 27 57)
COMBO(c_fd, &macro_c_fd, 29 30 57)
COMBO(c_tes, &macro_c_tes, 16 18 28 57)
COMBO(c_cl, &macro_c_cl, 36 42 57)
COMBO(c_fs, &macro_c_fs, 28 30 57)
COMBO(c_sl, &macro_c_sl, 28 36 57)
COMBO(c_is, &macro_c_is, 22 28 57)
COMBO(c_fm, &macro_c_fm, 30 47 57)
COMBO(c_wh, &macro_c_wh, 15 33 57)
COMBO(c_ir, &macro_c_ir, 17 22 57)
COMBO(c_hv, &macro_c_hv, 33 43 57)
COMBO(c_gu, &macro_c_gu, 21 31 57)
COMBO(c_cs, &macro_c_cs, 28 42 57)
COMBO(c_ea, &macro_c_ea, 16 27 57)
COMBO(c_fi, &macro_c_fi, 22 30 57)
COMBO(c_li, &macro_c_li, 22 36 57)
COMBO(c_di, &macro_c_di, 22 29 57)
COMBO(c_wil, &macro_c_wil, 15 22 36 57)
COMBO(c_eu, &macro_c_eu, 16 21 57)
COMBO(c_pi, &macro_c_pi, 22 24 57)
COMBO(c_op, &macro_c_op, 23 24 57)
COMBO(c_wt, &macro_c_wt, 15 18 57)
COMBO(c_vy, &macro_c_vy, 20 43 57)
COMBO(c_ie, &macro_c_ie, 16 22 57)
COMBO(c_oy, &macro_c_oy, 20 23 57)
COMBO(c_js, &macro_c_js, 28 34 57)
COMBO(c_gi, &macro_c_gi, 22 31 57)
COMBO(c_su, &macro_c_su, 21 28 57)
COMBO(c_ma, &macro_c_ma, 27 47 57)
COMBO(c_sd, &macro_c_sd, 28 29 57)
COMBO(c_wn, &macro_c_wn, 15 46 57)
COMBO(c_ar, &macro_c_ar, 17 27 57)
COMBO(c_nd, &macro_c_nd, 29 46 57)
COMBO(c_ci, &macro_c_ci, 22 42 57)
COMBO(c_ia, &macro_c_ia, 22 27 57)
COMBO(c_lk, &macro_c_lk, 35 36 57)
COMBO(c_hi, &macro_c_hi, 22 33 57)
COMBO(c_lf, &macro_c_lf, 30 36 57)
COMBO(c_bs, &macro_c_bs, 28 44 57)
COMBO(c_thi, &macro_c_thi, 18 22 33 57)
COMBO(c_bm, &macro_c_bm, 44 47 57)
COMBO(c_he, &macro_c_he, 16 33 57)
COMBO(c_pa, &macro_c_pa, 24 27 57)
COMBO(c_ga, &macro_c_ga, 27 31 57)
COMBO(c_wk, &macro_c_wk, 15 35 57)
COMBO(c_so, &macro_c_so, 23 28 57)
COMBO(c_le, &macro_c_le, 16 36 57)
COMBO(c_sa, &macro_c_sa, 27 28 57)
COMBO(c_cu, &macro_c_cu, 21 42 57)
COMBO(c_en, &macro_c_en, 16 46 57)
COMBO(c_sy, &macro_c_sy, 20 28 57)
COMBO(c_fo, &macro_c_fo, 23 30 57)
COMBO(c_se, &macro_c_se, 16 28 57)
COMBO(c_dr, &macro_c_dr, 17 29 57)
COMBO(c_lv, &macro_c_lv, 36 43 57)
COMBO(c_pc, &macro_c_pc, 24 42 57)
COMBO(c_hl, &macro_c_hl, 33 36 57)
COMBO(c_ch, &macro_c_ch, 33 42 57)
COMBO(c_nr, &macro_c_nr, 17 46 57)
COMBO(c_ca, &macro_c_ca, 27 42 57)
COMBO(c_tl, &macro_c_tl, 18 36 57)
COMBO(c_wae, &macro_c_wae, 15 16 27 57)
COMBO(c_sv, &macro_c_sv, 28 43 57)
COMBO(c_to, &macro_c_to, 18 23 57)
COMBO(c_gm, &macro_c_gm, 31 47 57)
COMBO(c_ke, &macro_c_ke, 16 35 57)
COMBO(c_hr, &macro_c_hr, 17 33 57)
COMBO(c_fa, &macro_c_fa, 27 30 57)
COMBO(c_sil, &macro_c_sil, 22 28 36 57)
COMBO(c_sr, &macro_c_sr, 17 28 57)
COMBO(c_fe, &macro_c_fe, 16 30 57)
COMBO(c_sar, &macro_c_sar, 17 27 28 57)
COMBO(c_bk, &macro_c_bk, 35 44 57)
COMBO(c_co, &macro_c_co, 23 42 57)
COMBO(c_na, &macro_c_na, 27 46 57)
COMBO(c_io, &macro_c_io, 22 23 57)
COMBO(c_pd, &macro_c_pd, 24 29 57)
COMBO(c_sp, &macro_c_sp, 24 28 57)
COMBO(c_wo, &macro_c_wo, 15 23 57)
COMBO(c_lca, &macro_c_lca, 27 36 42 57)
COMBO(c_ld, &macro_c_ld, 29 36 57)
COMBO(c_afe, &macro_c_afe, 16 27 30 57)
COMBO(c_ho, &macro_c_ho, 23 33 57)
COMBO(c_bo, &macro_c_bo, 23 44 57)
COMBO(c_iu, &macro_c_iu, 21 22 57)
COMBO(c_er, &macro_c_er, 16 17 57)
COMBO(c_rl, &macro_c_rl, 17 36 57)
COMBO(c_ifa, &macro_c_ifa, 22 27 30 57)
COMBO(c_hd, &macro_c_hd, 29 33 57)
COMBO(c_sae, &macro_c_sae, 16 27 28 57)
COMBO(c_pr, &macro_c_pr, 17 24 57)
COMBO(c_bi, &macro_c_bi, 22 44 57)
COMBO(c_ser, &macro_c_ser, 16 17 28 57)
COMBO(c_ao, &macro_c_ao, 23 27 57)
COMBO(c_mte, &macro_c_mte, 16 18 47 57)
COMBO(c_mr, &macro_c_mr, 17 47 57)
COMBO(c_au, &macro_c_au, 21 27 57)
COMBO(c_md, &macro_c_md, 29 47 57)
COMBO(c_pt, &macro_c_pt, 18 24 57)
COMBO(c_wm, &macro_c_wm, 15 47 57)
COMBO(c_nv, &macro_c_nv, 43 46 57)
COMBO(c_alw, &macro_c_alw, 15 27 36 57)
COMBO(c_ias, &macro_c_ias, 22 27 28 57)
COMBO(c_ml, &macro_c_ml, 36 47 57)
COMBO(c_py, &macro_c_py, 20 24 57)
COMBO(c_par, &macro_c_par, 17 24 27 57)
COMBO(c_sh, &macro_c_sh, 28 33 57)
COMBO(c_als, &macro_c_als, 27 28 36 57)
COMBO(c_da, &macro_c_da, 27 29 57)
COMBO(c_sn, &macro_c_sn, 28 46 57)
COMBO(c_ba, &macro_c_ba, 27 44 57)
COMBO(c_ln, &macro_c_ln, 36 46 57)
COMBO(c_nx, &macro_c_nx, 41 46 57)
COMBO(c_od, &macro_c_od, 23 29 57)
COMBO(c_pb, &macro_c_pb, 24 44 57)
COMBO(c_lie, &macro_c_lie, 16 22 36 57)
COMBO(c_ral, &macro_c_ral, 17 27 36 57)
COMBO(c_ud, &macro_c_ud, 21 29 57)
COMBO(c_tai, &macro_c_tai, 18 22 27 57)
COMBO(c_bd, &macro_c_bd, 29 44 57)
COMBO(c_ofe, &macro_c_ofe, 16 23 30 57)
COMBO(c_bl, &macro_c_bl, 36 44 57)
COMBO(c_or, &macro_c_or, 17 23 57)
COMBO(c_dt, &macro_c_dt, 18 29 57)
COMBO(c_pes, &macro_c_pes, 16 24 28 57)
COMBO(c_eal, &macro_c_eal, 16 27 36 57)
COMBO(c_pw, &macro_c_pw, 15 24 57)
COMBO(c_lg, &macro_c_lg, 31 36 57)
COMBO(c_cn, &macro_c_cn, 42 46 57)
COMBO(c_ru, &macro_c_ru, 17 21 57)
COMBO(c_hse, &macro_c_hse, 16 28 33 57)
COMBO(c_bh, &macro_c_bh, 33 44 57)
COMBO(c_cos, &macro_c_cos, 23 28 42 57)
COMBO(c_bn, &macro_c_bn, 44 46 57)
COMBO(c_rei, &macro_c_rei, 16 17 22 57)
COMBO(c_fn, &macro_c_fn, 30 46 57)
COMBO(c_agi, &macro_c_agi, 22 27 31 57)
COMBO(c_sk, &macro_c_sk, 28 35 57)
COMBO(c_ey, &macro_c_ey, 16 20 57)
COMBO(c_cy, &macro_c_cy, 20 42 57)
COMBO(c_mv, &macro_c_mv, 43 47 57)
COMBO(c_bu, &macro_c_bu, 21 44 57)
COMBO(c_sao, &macro_c_sao, 23 27 28 57)
COMBO(c_yg, &macro_c_yg, 20 31 57)
COMBO(c_psi, &macro_c_psi, 22 24 28 57)
COMBO(c_rea, &macro_c_rea, 16 17 27 57)
COMBO(c_cha, &macro_c_cha, 27 33 42 57)
COMBO(c_scl, &macro_c_scl, 28 36 42 57)
COMBO(c_tos, &macro_c_tos, 18 23 28 57)
COMBO(c_tu, &macro_c_tu, 18 21 57)
COMBO(c_alu, &macro_c_alu, 21 27 36 57)
COMBO(c_va, &macro_c_va, 27 43 57)
COMBO(c_iv, &macro_c_iv, 22 43 57)
COMBO(c_go, &macro_c_go, 23 31 57)
COMBO(c_cma, &macro_c_cma, 27 42 47 57)
COMBO(c_aiv, &macro_c_aiv, 22 27 43 57)
COMBO(c_dv, &macro_c_dv, 29 43 57)
COMBO(c_reo, &macro_c_reo, 16 17 23 57)
COMBO(c_ng, &macro_c_ng, 31 46 57)
COMBO(c_pia, &macro_c_pia, 22 24 27 57)
COMBO(c_avl, &macro_c_avl, 27 36 43 57)
COMBO(c_rah, &macro_c_rah, 17 27 33 57)
COMBO(c_sad, &macro_c_sad, 27 28 29 57)
COMBO(c_mar, &macro_c_mar, 17 27 47 57)
COMBO(c_eln, &macro_c_eln, 16 36 46 57)
COMBO(c_ent, &macro_c_ent, 16 18 46 57)
COMBO(c_ty, &macro_c_ty, 18 20 57)
COMBO(c_ge, &macro_c_ge, 16 31 57)
COMBO(c_enr, &macro_c_enr, 16 17 46 57)
COMBO(c_rih, &macro_c_rih, 17 22 33 57)
COMBO(c_hal, &macro_c_hal, 27 33 36 57)
COMBO(c_pu, &macro_c_pu, 21 24 57)
COMBO(c_coi, &macro_c_coi, 22 23 42 57)
COMBO(c_ler, &macro_c_ler, 16 17 36 57)
COMBO(c_dvl, &macro_c_dvl, 29 36 43 57)
COMBO(c_les, &macro_c_les, 16 28 36 57)
COMBO(c_yf, &macro_c_yf, 20 30 57)
COMBO(c_cas, &macro_c_cas, 27 28 42 57)
COMBO(c_sie, &macro_c_sie, 16 22 28 57)
COMBO(c_pso, &macro_c_pso, 23 24 28 57)
COMBO(c_reu, &macro_c_reu, 16 17 21 57)
COMBO(c_rem, &macro_c_rem, 16 17 47 57)
COMBO(c_ape, &macro_c_ape, 16 24 27 57)
COMBO(c_cai, &macro_c_cai, 22 27 42 57)
COMBO(c_per, &macro_c_per, 16 17 24 57)
COMBO(c_cnl, &macro_c_cnl, 36 42 46 57)
COMBO(c_qe, &macro_c_qe, 14 16 57)
COMBO(c_lig, &macro_c_lig, 22 31 36 57)
COMBO(c_hf, &macro_c_hf, 30 33 57)
COMBO(c_epi, &macro_c_epi, 16 22 24 57)
COMBO(c_lu, &macro_c_lu, 21 36 57)
COMBO(c_his, &macro_c_his, 22 28 33 57)
COMBO(c_sur, &macro_c_sur, 17 21 28 57)
COMBO(c_irs, &macro_c_irs, 17 22 28 57)
COMBO(c_toe, &macro_c_toe, 16 18 23 57)
COMBO(c_dsi, &macro_c_dsi, 22 28 29 57)
COMBO(c_wer, &macro_c_wer, 15 16 17 57)
COMBO(c_mal, &macro_c_mal, 27 36 47 57)
COMBO(c_eia, &macro_c_eia, 16 22 27 57)
COMBO(c_ild, &macro_c_ild, 22 29 36 57)
COMBO(c_hp, &macro_c_hp, 24 33 57)
COMBO(c_pat, &macro_c_pat, 18 24 27 57)
COMBO(c_aly, &macro_c_aly, 20 27 36 57)
COMBO(c_ard, &macro_c_ard, 17 27 29 57)
COMBO(c_lat, &macro_c_lat, 18 27 36 57)
COMBO(c_tou, &macro_c_tou, 18 21 23 57)
COMBO(c_uil, &macro_c_uil, 21 22 36 57)
COMBO(c_tda, &macro_c_tda, 18 27 29 57)
COMBO(c_by, &macro_c_by, 20 44 57)
COMBO(c_ail, &macro_c_ail, 22 27 36 57)
COMBO(c_tho, &macro_c_tho, 18 23 33 57)
COMBO(c_rdu, &macro_c_rdu, 17 21 29 57)
COMBO(c_sue, &macro_c_sue, 16 21 28 57)
COMBO(c_cus, &macro_c_cus, 21 28 42 57)
COMBO(c_rso, &macro_c_rso, 17 23 28 57)
COMBO(c_sci, &macro_c_sci, 22 28 42 57)
COMBO(c_pj, &macro_c_pj, 24 34 57)
COMBO(c_fld, &macro_c_fld, 29 30 36 57)
COMBO(c_cv, &macro_c_cv, 42 43 57)
COMBO(c_fc, &macro_c_fc, 30 42 57)
COMBO(c_iew, &macro_c_iew, 15 16 22 57)
COMBO(c_iov, &macro_c_iov, 22 23 43 57)
COMBO(c_vil, &macro_c_vil, 22 36 43 57)
COMBO(c_cap, &macro_c_cap, 24 27 42 57)
COMBO(c_bld, &macro_c_bld, 29 36 44 57)
COMBO(c_ofi, &macro_c_ofi, 22 23 30 57)
COMBO(c_aio, &macro_c_aio, 22 23 27 57)
COMBO(c_rsp, &macro_c_rsp, 17 24 28 57)
COMBO(c_rhe, &macro_c_rhe, 16 17 33 57)
COMBO(c_ams, &macro_c_ams, 27 28 47 57)
COMBO(c_rsn, &macro_c_rsn, 17 28 46 57)
COMBO(c_mak, &macro_c_mak, 27 35 47 57)
COMBO(c_cay, &macro_c_cay, 20 27 42 57)
COMBO(c_foc, &macro_c_foc, 23 30 42 57)
COMBO(c_pf, &macro_c_pf, 24 30 57)
COMBO(c_ept, &macro_c_ept, 16 18 24 57)
COMBO(c_pef, &macro_c_pef, 16 24 30 57)
COMBO(c_vu, &macro_c_vu, 21 43 57)
COMBO(c_fu, &macro_c_fu, 21 30 57)
COMBO(c_fac, &macro_c_fac, 27 30 42 57)
COMBO(c_pus, &macro_c_pus, 21 24 28 57)
COMBO(c_nk, &macro_c_nk, 35 46 57)
COMBO(c_pua, &macro_c_pua, 21 24 27 57)
COMBO(c_usl, &macro_c_usl, 21 28 36 57)
COMBO(c_oba, &macro_c_oba, 23 27 44 57)
COMBO(c_pid, &macro_c_pid, 22 24 29 57)
COMBO(c_kd, &macro_c_kd, 29 35 57)
COMBO(c_poe, &macro_c_poe, 16 23 24 57)
COMBO(c_ald, &macro_c_ald, 27 29 36 57)
COMBO(c_sg, &macro_c_sg, 28 31 57)
COMBO(c_anl, &macro_c_anl, 27 36 46 57)
COMBO(c_drm, &macro_c_drm, 17 29 47 57)
COMBO(c_pdu, &macro_c_pdu, 21 24 29 57)
COMBO(c_ldr, &macro_c_ldr, 17 29 36 57)
COMBO(c_ql, &macro_c_ql, 14 36 57)
COMBO(c_fah, &macro_c_fah, 27 30 33 57)
COMBO(c_mda, &macro_c_mda, 27 29 47 57)
COMBO(c_vis, &macro_c_vis, 22 28 43 57)
COMBO(c_ahi, &macro_c_ahi, 22 27 33 57)
COMBO(c_msc, &macro_c_msc, 28 42 47 57)
COMBO(c_poa, &macro_c_poa, 23 24 27 57)
COMBO(c_cou, &macro_c_cou, 21 23 42 57)
COMBO(c_spd, &macro_c_spd, 24 28 29 57)
COMBO(c_ak, &macro_c_ak, 27 35 57)
COMBO(c_spa, &macro_c_spa, 24 27 28 57)
COMBO(c_sge, &macro_c_sge, 16 28 31 57)
COMBO(c_sml, &macro_c_sml, 28 36 47 57)
COMBO(c_fie, &macro_c_fie, 16 22 30 57)
COMBO(c_rk, &macro_c_rk, 17 35 57)
COMBO(c_adi, &macro_c_adi, 22 27 29 57)
COMBO(c_wte, &macro_c_wte, 15 16 18 57)
COMBO(c_whi, &macro_c_whi, 15 22 33 57)
COMBO(c_prd, &macro_c_prd, 17 24 29 57)
COMBO(c_pic, &macro_c_pic, 22 24 42 57)
COMBO(c_irl, &macro_c_irl, 17 22 36 57)
COMBO(c_acu, &macro_c_acu, 21 27 42 57)
COMBO(c_mlr, &macro_c_mlr, 17 36 47 57)
COMBO(c_aou, &macro_c_aou, 21 23 27 57)
COMBO(c_ov, &macro_c_ov, 23 43 57)
COMBO(c_ntl, &macro_c_ntl, 18 36 46 57)
COMBO(c_aro, &macro_c_aro, 17 23 27 57)
COMBO(c_dau, &macro_c_dau, 21 27 29 57)
COMBO(c_pst, &macro_c_pst, 18 24 28 57)
COMBO(c_sfa, &macro_c_sfa, 27 28 30 57)
COMBO(c_air, &macro_c_air, 17 22 27 57)
COMBO(c_aet, &macro_c_aet, 16 18 27 57)
COMBO(c_aco, &macro_c_aco, 23 27 42 57)
COMBO(c_eou, &macro_c_eou, 16 21 23 57)
COMBO(c_can, &macro_c_can, 27 42 46 57)
COMBO(c_pti, &macro_c_pti, 18 22 24 57)
COMBO(c_aile, &macro_c_aile, 16 22 27 36 57)
COMBO(c_cop, &macro_c_cop, 23 24 42 57)
COMBO(c_opi, &macro_c_opi, 22 23 24 57)
COMBO(c_dso, &macro_c_dso, 23 28 29 57)
COMBO(c_piy, &macro_c_piy, 20 22 24 57)
COMBO(c_idf, &macro_c_idf, 22 29 30 57)
COMBO(c_fme, &macro_c_fme, 16 30 47 57)
COMBO(c_sud, &macro_c_sud, 21 28 29 57)
COMBO(c_vid, &macro_c_vid, 22 29 43 57)
COMBO(c_dfn, &macro_c_dfn, 29 30 46 57)
COMBO(c_fli, &macro_c_fli, 22 30 36 57)
COMBO(c_sme, &macro_c_sme, 16 28 47 57)
COMBO(c_qi, &macro_c_qi, 14 22 57)
COMBO(c_rau, &macro_c_rau, 17 21 27 57)
COMBO(c_pri, &macro_c_pri, 17 22 24 57)
COMBO(c_fus, &macro_c_fus, 21 28 30 57)
COMBO(c_prea, &macro_c_prea, 16 17 24 27 57)
COMBO(c_eio, &macro_c_eio, 16 22 23 57)
COMBO(c_soe, &macro_c_soe, 16 23 28 57)
COMBO(c_bak, &macro_c_bak, 27 35 44 57)
COMBO(c_pur, &macro_c_pur, 17 21 24 57)
COMBO(c_coai, &macro_c_coai, 22 23 27 42 57)
COMBO(c_oea, &macro_c_oea, 16 23 27 57)
COMBO(c_pg, &macro_c_pg, 24 31 57)
COMBO(c_rou, &macro_c_rou, 17 21 23 57)
COMBO(c_dsg, &macro_c_dsg, 28 29 31 57)
COMBO(c_rls, &macro_c_rls, 17 28 36 57)
COMBO(c_sui, &macro_c_sui, 21 22 28 57)
COMBO(c_clm, &macro_c_clm, 36 42 47 57)
COMBO(c_tle, &macro_c_tle, 16 18 36 57)
COMBO(c_shr, &macro_c_shr, 17 28 33 57)
COMBO(c_spc, &macro_c_spc, 24 28 42 57)
COMBO(c_pro, &macro_c_pro, 17 23 24 57)
COMBO(c_fau, &macro_c_fau, 21 27 30 57)
COMBO(c_wah, &macro_c_wah, 15 27 33 57)
COMBO(c_dsn, &macro_c_dsn, 28 29 46 57)
COMBO(c_cil, &macro_c_cil, 22 36 42 57)
COMBO(c_sha, &macro_c_sha, 27 28 33 57)
COMBO(c_tma, &macro_c_tma, 18 27 47 57)
COMBO(c_wle, &macro_c_wle, 15 16 36 57)
COMBO(c_sey, &macro_c_sey, 16 20 28 57)
COMBO(c_pv, &macro_c_pv, 24 43 57)
COMBO(c_atu, &macro_c_atu, 18 21 27 57)
COMBO(c_gud, &macro_c_gud, 21 29 31 57)
COMBO(c_pod, &macro_c_pod, 23 24 29 57)
COMBO(c_oz, &macro_c_oz, 23 40 57)
COMBO(c_stu, &macro_c_stu, 18 21 28 57)
COMBO(c_sz, &macro_c_sz, 28 40 57)
COMBO(c_thl, &macro_c_thl, 18 33 36 57)
COMBO(c_ji, &macro_c_ji, 22 34 57)
COMBO(c_ou, &macro_c_ou, 21 23 57)
COMBO(c_smr, &macro_c_smr, 17 28 47 57)
COMBO(c_rod, &macro_c_rod, 17 23 29 57)
COMBO(c_dri, &macro_c_dri, 17 22 29 57)
COMBO(c_wf, &macro_c_wf, 15 30 57)
COMBO(c_sef, &macro_c_sef, 16 28 30 57)
COMBO(c_bc, &macro_c_bc, 42 44 57)
COMBO(c_ej, &macro_c_ej, 16 34 57)
COMBO(c_ats, &macro_c_ats, 18 27 28 57)
COMBO(c_rlas, &macro_c_rlas, 17 27 28 36 57)
COMBO(c_pdt, &macro_c_pdt, 18 24 29 57)
COMBO(c_lti, &macro_c_lti, 18 22 36 57)
COMBO(c_ehi, &macro_c_ehi, 16 22 33 57)
COMBO(c_boh, &macro_c_boh, 23 33 44 57)
COMBO(c_asie, &macro_c_asie, 16 22 27 28 57)
COMBO(c_dfu, &macro_c_dfu, 21 29 30 57)
COMBO(c_isad, &macro_c_isad, 22 27 28 29 57)
COMBO(c_adrs, &macro_c_adrs, 17 27 28 29 57)
COMBO(c_ran, &macro_c_ran, 17 27 46 57)
COMBO(c_sua, &macro_c_sua, 21 27 28 57)
COMBO(c_sif, &macro_c_sif, 22 28 30 57)
COMBO(c_iy, &macro_c_iy, 20 22 57)
COMBO(c_elh, &macro_c_elh, 16 33 36 57)
COMBO(c_aen, &macro_c_aen, 16 27 46 57)
COMBO(c_bac, &macro_c_bac, 27 42 44 57)
COMBO(c_eit, &macro_c_eit, 16 18 22 57)
COMBO(c_avd, &macro_c_avd, 27 29 43 57)
COMBO(c_resu, &macro_c_resu, 16 17 21 28 57)
COMBO(c_ofa, &macro_c_ofa, 23 27 30 57)
COMBO(c_mae, &macro_c_mae, 16 27 47 57)
COMBO(c_tan, &macro_c_tan, 18 27 46 57)
COMBO(c_tdl, &macro_c_tdl, 18 29 36 57)
COMBO(c_piu, &macro_c_piu, 21 22 24 57)
COMBO(c_lke, &macro_c_lke, 16 35 36 57)
COMBO(c_nrl, &macro_c_nrl, 17 36 46 57)
COMBO(c_san, &macro_c_san, 27 28 46 57)
COMBO(c_kld, &macro_c_kld, 29 35 36 57)
COMBO(c_bod, &macro_c_bod, 23 29 44 57)
COMBO(c_vic, &macro_c_vic, 22 42 43 57)
COMBO(c_ori, &macro_c_ori, 17 22 23 57)
COMBO(c_cul, &macro_c_cul, 21 36 42 57)
COMBO(c_sgl, &macro_c_sgl, 28 31 36 57)
COMBO(c_woe, &macro_c_woe, 15 16 23 57)
COMBO(c_nes, &macro_c_nes, 16 28 46 57)
COMBO(c_hoe, &macro_c_hoe, 16 23 33 57)
COMBO(c_elan, &macro_c_elan, 16 27 36 46 57)
COMBO(c_idt, &macro_c_idt, 18 22 29 57)
COMBO(c_team, &macro_c_team, 16 18 27 47 57)
COMBO(c_aho, &macro_c_aho, 23 27 33 57)
COMBO(c_acv, &macro_c_acv, 27 42 43 57)
COMBO(c_dio, &macro_c_dio, 22 23 29 57)
COMBO(c_osv, &macro_c_osv, 23 28 43 57)
COMBO(c_thd, &macro_c_thd, 18 29 33 57)
COMBO(c_its, &macro_c_its, 18 22 28 57)
COMBO(c_aue, &macro_c_aue, 16 21 27 57)
COMBO(c_gw, &macro_c_gw, 15 31 57)
COMBO(c_cpu, &macro_c_cpu, 21 24 42 57)
COMBO(c_wid, &macro_c_wid, 15 22 29 57)
COMBO(c_wu, &macro_c_wu, 15 21 57)
COMBO(c_amer, &macro_c_amer, 16 17 27 47 57)
COMBO(c_pot, &macro_c_pot, 18 23 24 57)
COMBO(c_sag, &macro_c_sag, 27 28 31 57)
COMBO(c_tui, &macro_c_tui, 18 21 22 57)
COMBO(c_stl, &macro_c_stl, 18 28 36 57)
COMBO(c_tms, &macro_c_tms, 18 28 47 57)
COMBO(c_pva, &macro_c_pva, 24 27 43 57)
COMBO(c_gal, &macro_c_gal, 27 31 36 57)
COMBO(c_eui, &macro_c_eui, 16 21 22 57)
COMBO(c_rsd, &macro_c_rsd, 17 28 29 57)
COMBO(c_sry, &macro_c_sry, 17 20 28 57)
COMBO(c_bad, &macro_c_bad, 27 29 44 57)
COMBO(c_msg, &macro_c_msg, 28 31 47 57)
COMBO(c_say, &macro_c_say, 20 27 28 57)
COMBO(c_paie, &macro_c_paie, 16 22 24 27 57)
COMBO(c_seal, &macro_c_seal, 16 27 28 36 57)
COMBO(c_aod, &macro_c_aod, 23 27 29 57)
COMBO(c_pvi, &macro_c_pvi, 22 24 43 57)
COMBO(c_rly, &macro_c_rly, 17 20 36 57)
COMBO(c_cly, &macro_c_cly, 20 36 42 57)
COMBO(c_aui, &macro_c_aui, 21 22 27 57)
COMBO(c_mle, &macro_c_mle, 16 36 47 57)
COMBO(c_emal, &macro_c_emal, 16 27 36 47 57)
COMBO(c_vcl, &macro_c_vcl, 36 42 43 57)
COMBO(c_chi, &macro_c_chi, 22 33 42 57)
COMBO(c_tke, &macro_c_tke, 16 18 35 57)
COMBO(c_sfy, &macro_c_sfy, 20 28 30 57)
COMBO(c_gel, &macro_c_gel, 16 31 36 57)
COMBO(c_dy, &macro_c_dy, 20 29 57)
COMBO(c_pesa, &macro_c_pesa, 16 24 27 28 57)
COMBO(c_tq, &macro_c_tq, 14 18 57)
COMBO(c_bal, &macro_c_bal, 27 36 44 57)
COMBO(c_chl, &macro_c_chl, 33 36 42 57)
COMBO(c_oat, &macro_c_oat, 18 23 27 57)
COMBO(c_hea, &macro_c_hea, 16 27 33 57)
COMBO(c_mag, &macro_c_mag, 27 31 47 57)
COMBO(c_fal, &macro_c_fal, 27 30 36 57)
COMBO(c_pue, &macro_c_pue, 16 21 24 57)
COMBO(c_sio, &macro_c_sio, 22 23 28 57)
COMBO(c_pres, &macro_c_pres, 16 17 24 28 57)
COMBO(c_fms, &macro_c_fms, 28 30 47 57)
COMBO(c_isg, &macro_c_isg, 22 28 31 57)
COMBO(c_clma, &macro_c_clma, 27 36 42 47 57)
COMBO(c_ely, &macro_c_ely, 16 20 36 57)
COMBO(c_proe, &macro_c_proe, 16 17 23 24 57)
COMBO(c_alrm, &macro_c_alrm, 17 27 36 47 57)
COMBO(c_ifu, &macro_c_ifu, 21 22 30 57)
COMBO(c_idu, &macro_c_idu, 21 22 29 57)
COMBO(c_pay, &macro_c_pay, 20 24 27 57)
COMBO(c_fue, &macro_c_fue, 16 21 30 57)
COMBO(c_disu, &macro_c_disu, 21 22 28 29 57)
COMBO(c_ivu, &macro_c_ivu, 21 22 43 57)
COMBO(c_dst, &macro_c_dst, 18 28 29 57)
COMBO(c_wai, &macro_c_wai, 15 22 27 57)
COMBO(c_lmt, &macro_c_lmt, 18 36 47 57)
COMBO(c_nlar, &macro_c_nlar, 17 27 36 46 57)
COMBO(c_iru, &macro_c_iru, 17 21 22 57)
COMBO(c_wir, &macro_c_wir, 15 17 22 57)
COMBO(c_awr, &macro_c_awr, 15 17 27 57)
COMBO(c_bai, &macro_c_bai, 22 27 44 57)
COMBO(c_apoi, &macro_c_apoi, 22 23 24 27 57)
COMBO(c_phs, &macro_c_phs, 24 28 33 57)
COMBO(c_sly, &macro_c_sly, 20 28 36 57)
COMBO(c_sje, &macro_c_sje, 16 28 34 57)
COMBO(c_oga, &macro_c_oga, 23 27 31 57)
COMBO(c_vay, &macro_c_vay, 20 27 43 57)
COMBO(c_pye, &macro_c_pye, 16 20 24 57)
COMBO(c_age, &macro_c_age, 16 27 31 57)
COMBO(c_cz, &macro_c_cz, 40 42 57)
COMBO(c_ivsa, &macro_c_ivsa, 22 27 28 43 57)
COMBO(c_kg, &macro_c_kg, 31 35 57)
COMBO(c_ck, &macro_c_ck, 35 42 57)
COMBO(c_psv, &macro_c_psv, 24 28 43 57)
COMBO(c_ersi, &macro_c_ersi, 16 17 22 28 57)
COMBO(c_and, &macro_c_and, 27 29 46 57)
COMBO(c_fnl, &macro_c_fnl, 30 36 46 57)
COMBO(c_sou, &macro_c_sou, 21 23 28 57)
COMBO(c_poea, &macro_c_poea, 16 23 24 27 57)
COMBO(c_cui, &macro_c_cui, 21 22 42 57)
COMBO(c_elmt, &macro_c_elmt, 16 18 36 47 57)
COMBO(c_atep, &macro_c_atep, 16 18 24 27 57)
COMBO(c_wao, &macro_c_wao, 15 23 27 57)
COMBO(c_pho, &macro_c_pho, 23 24 33 57)
COMBO(c_aiy, &macro_c_aiy, 20 22 27 57)
COMBO(c_meas, &macro_c_meas, 16 27 28 47 57)
COMBO(c_disr, &macro_c_disr, 17 22 28 29 57)
COMBO(c_surd, &macro_c_surd, 17 21 28 29 57)
COMBO(c_viso, &macro_c_viso, 22 23 28 43 57)
COMBO(c_pag, &macro_c_pag, 24 27 31 57)
COMBO(c_mlf, &macro_c_mlf, 30 36 47 57)
COMBO(c_hap, &macro_c_hap, 24 27 33 57)
COMBO(c_dsv, &macro_c_dsv, 28 29 43 57)
COMBO(c_pys, &macro_c_pys, 20 24 28 57)
COMBO(c_fsh, &macro_c_fsh, 28 30 33 57)
COMBO(c_ery, &macro_c_ery, 16 17 20 57)
COMBO(c_mge, &macro_c_mge, 16 31 47 57)
COMBO(c_cfm, &macro_c_cfm, 30 42 47 57)
COMBO(c_cnal, &macro_c_cnal, 27 36 42 46 57)
COMBO(c_rnd, &macro_c_rnd, 17 29 46 57)
COMBO(c_ptu, &macro_c_ptu, 18 21 24 57)
COMBO(c_saih, &macro_c_saih, 22 27 28 33 57)
COMBO(c_cib, &macro_c_cib, 22 42 44 57)
COMBO(c_reoi, &macro_c_reoi, 16 17 22 23 57)
COMBO(c_mage, &macro_c_mage, 16 27 31 47 57)
COMBO(c_snl, &macro_c_snl, 28 36 46 57)
COMBO(c_fen, &macro_c_fen, 16 30 46 57)
COMBO(c_oj, &macro_c_oj, 23 34 57)
COMBO(c_gen, &macro_c_gen, 16 31 46 57)
COMBO(c_dly, &macro_c_dly, 20 29 36 57)
COMBO(c_qk, &macro_c_qk, 14 35 57)
COMBO(c_ofie, &macro_c_ofie, 16 22 23 30 57)
COMBO(c_goe, &macro_c_goe, 16 23 31 57)
COMBO(c_uba, &macro_c_uba, 21 27 44 57)
COMBO(c_mser, &macro_c_mser, 16 17 28 47 57)
COMBO(c_siy, &macro_c_siy, 20 22 28 57)
COMBO(c_cuso, &macro_c_cuso, 21 23 28 42 57)
COMBO(c_eug, &macro_c_eug, 16 21 31 57)
COMBO(c_tha, &macro_c_tha, 18 27 33 57)
COMBO(c_lgh, &macro_c_lgh, 31 33 36 57)
COMBO(c_tak, &macro_c_tak, 18 27 35 57)
COMBO(c_ifc, &macro_c_ifc, 22 30 42 57)
COMBO(c_duo, &macro_c_duo, 21 23 29 57)
COMBO(c_seiu, &macro_c_seiu, 16 21 22 28 57)
COMBO(c_reai, &macro_c_reai, 16 17 22 27 57)
COMBO(c_dms, &macro_c_dms, 28 29 47 57)
COMBO(c_skl, &macro_c_skl, 28 35 36 57)
COMBO(c_uq, &macro_c_uq, 14 21 57)
COMBO(c_pvu, &macro_c_pvu, 21 24 43 57)
COMBO(c_elu, &macro_c_elu, 16 21 36 57)
COMBO(c_hg, &macro_c_hg, 31 33 57)
COMBO(c_bah, &macro_c_bah, 27 33 44 57)
COMBO(c_mcas, &macro_c_mcas, 27 28 42 47 57)
COMBO(c_fcl, &macro_c_fcl, 30 36 42 57)
COMBO(c_cx, &macro_c_cx, 41 42 57)
COMBO(c_cns, &macro_c_cns, 28 42 46 57)
COMBO(c_rul, &macro_c_rul, 17 21 36 57)
COMBO(c_sfl, &macro_c_sfl, 28 30 36 57)
COMBO(c_paf, &macro_c_paf, 24 27 30 57)
COMBO(c_rdy, &macro_c_rdy, 17 20 29 57)
COMBO(c_mab, &macro_c_mab, 27 44 47 57)
COMBO(c_masr, &macro_c_masr, 17 27 28 47 57)
COMBO(c_fos, &macro_c_fos, 23 28 30 57)
COMBO(c_drk, &macro_c_drk, 17 29 35 57)
COMBO(c_tow, &macro_c_tow, 15 18 23 57)
COMBO(c_ieg, &macro_c_ieg, 16 22 31 57)
COMBO(c_gad, &macro_c_gad, 27 29 31 57)
COMBO(c_rsod, &macro_c_rsod, 17 23 28 29 57)
COMBO(c_sld, &macro_c_sld, 28 29 36 57)
COMBO(c_rsia, &macro_c_rsia, 17 22 27 28 57)
COMBO(c_avn, &macro_c_avn, 27 43 46 57)
COMBO(c_resl, &macro_c_resl, 16 17 28 36 57)
COMBO(c_hav, &macro_c_hav, 27 33 43 57)
COMBO(c_gna, &macro_c_gna, 27 31 46 57)
COMBO(c_hlf, &macro_c_hlf, 30 33 36 57)
COMBO(c_weg, &macro_c_weg, 15 16 31 57)
COMBO(c_wke, &macro_c_wke, 15 16 35 57)
COMBO(c_phe, &macro_c_phe, 16 24 33 57)
COMBO(c_coy, &macro_c_coy, 20 23 42 57)
COMBO(c_tns, &macro_c_tns, 18 28 46 57)
COMBO(c_fle, &macro_c_fle, 16 30 36 57)
COMBO(c_gid, &macro_c_gid, 22 29 31 57)
COMBO(c_nwa, &macro_c_nwa, 15 27 46 57)
COMBO(c_dsb, &macro_c_dsb, 28 29 44 57)
COMBO(c_sch, &macro_c_sch, 28 33 42 57)
COMBO(c_shl, &macro_c_shl, 28 33 36 57)
COMBO(c_rela, &macro_c_rela, 16 17 27 36 57)
COMBO(c_idpt, &macro_c_idpt, 18 22 24 29 57)
COMBO(c_prh, &macro_c_prh, 17 24 33 57)
COMBO(c_owr, &macro_c_owr, 15 17 23 57)
COMBO(c_cmb, &macro_c_cmb, 42 44 47 57)
COMBO(c_cuil, &macro_c_cuil, 21 22 36 42 57)
COMBO(c_adil, &macro_c_adil, 22 27 29 36 57)
COMBO(c_ners, &macro_c_ners, 16 17 28 46 57)
COMBO(c_wrh, &macro_c_wrh, 15 17 33 57)
COMBO(c_hos, &macro_c_hos, 23 28 33 57)
COMBO(c_eura, &macro_c_eura, 16 17 21 27 57)
COMBO(c_bkd, &macro_c_bkd, 29 35 44 57)
COMBO(c_dow, &macro_c_dow, 15 23 29 57)
COMBO(c_ahd, &macro_c_ahd, 27 29 33 57)
COMBO(c_hil, &macro_c_hil, 22 33 36 57)
COMBO(c_ito, &macro_c_ito, 18 22 23 57)
COMBO(c_vcm, &macro_c_vcm, 42 43 47 57)
COMBO(c_pry, &macro_c_pry, 17 20 24 57)
COMBO(c_eoy, &macro_c_eoy, 16 20 23 57)
COMBO(c_ysd, &macro_c_ysd, 20 28 29 57)
COMBO(c_dmt, &macro_c_dmt, 18 29 47 57)
COMBO(c_aren, &macro_c_aren, 16 17 27 46 57)
COMBO(c_pfs, &macro_c_pfs, 24 28 30 57)
COMBO(c_cnf, &macro_c_cnf, 30 42 46 57)
COMBO(c_dto, &macro_c_dto, 18 23 29 57)
COMBO(c_fda, &macro_c_fda, 27 29 30 57)
COMBO(c_bid, &macro_c_bid, 22 29 44 57)
COMBO(c_sth, &macro_c_sth, 18 28 33 57)
COMBO(c_aye, &macro_c_aye, 16 20 27 57)
COMBO(c_psg, &macro_c_psg, 24 28 31 57)
COMBO(c_wat, &macro_c_wat, 15 18 27 57)
COMBO(c_lari, &macro_c_lari, 17 22 27 36 57)
COMBO(c_ioae, &macro_c_ioae, 16 22 23 27 57)
COMBO(c_prei, &macro_c_prei, 16 17 22 24 57)
COMBO(c_ciy, &macro_c_ciy, 20 22 42 57)
COMBO(c_csui, &macro_c_csui, 21 22 28 42 57)
COMBO(c_bln, &macro_c_bln, 36 44 46 57)
COMBO(c_idy, &macro_c_idy, 20 22 29 57)
COMBO(c_capu, &macro_c_capu, 21 24 27 42 57)
COMBO(c_rq, &macro_c_rq, 14 17 57)
COMBO(c_ax, &macro_c_ax, 27 41 57)
COMBO(c_soue, &macro_c_soue, 16 21 23 28 57)
COMBO(c_reli, &macro_c_reli, 16 17 22 36 57)
COMBO(c_nega, &macro_c_nega, 16 27 31 46 57)
COMBO(c_gio, &macro_c_gio, 22 23 31 57)
COMBO(c_oute, &macro_c_oute, 16 18 21 23 57)
COMBO(c_iest, &macro_c_iest, 16 18 22 28 57)
COMBO(c_fq, &macro_c_fq, 14 30 57)
COMBO(c_pda, &macro_c_pda, 24 27 29 57)
COMBO(c_dlar, &macro_c_dlar, 17 27 29 36 57)
COMBO(c_ful, &macro_c_ful, 21 30 36 57)
COMBO(c_isac, &macro_c_isac, 22 27 28 42 57)
COMBO(c_pari, &macro_c_pari, 17 22 24 27 57)
COMBO(c_pty, &macro_c_pty, 18 20 24 57)
COMBO(c_ray, &macro_c_ray, 17 20 27 57)
COMBO(c_fey, &macro_c_fey, 16 20 30 57)
COMBO(c_rsil, &macro_c_rsil, 17 22 28 36 57)
COMBO(c_chas, &macro_c_chas, 27 28 33 42 57)
COMBO(c_vln, &macro_c_vln, 36 43 46 57)
COMBO(c_rslu, &macro_c_rslu, 17 21 28 36 57)
COMBO(c_chp, &macro_c_chp, 24 33 42 57)
COMBO(c_ijr, &macro_c_ijr, 17 22 34 57)
COMBO(c_chf, &macro_c_chf, 30 33 42 57)
COMBO(c_uk, &macro_c_uk, 21 35 57)
COMBO(c_fna, &macro_c_fna, 27 30 46 57)
COMBO(c_ayo, &macro_c_ayo, 20 23 27 57)
COMBO(c_eito, &macro_c_eito, 16 18 22 23 57)
COMBO(c_cial, &macro_c_cial, 22 27 36 42 57)
COMBO(c_chis, &macro_c_chis, 22 28 33 42 57)
COMBO(c_jl, &macro_c_jl, 34 36 57)
COMBO(c_ova, &macro_c_ova, 23 27 43 57)
COMBO(c_aroi, &macro_c_aroi, 17 22 23 27 57)
COMBO(c_audi, &macro_c_audi, 21 22 27 29 57)
COMBO(c_ojv, &macro_c_ojv, 23 34 43 57)
COMBO(c_vsn, &macro_c_vsn, 28 43 46 57)
COMBO(c_hdl, &macro_c_hdl, 29 33 36 57)
COMBO(c_estm, &macro_c_estm, 16 18 28 47 57)
COMBO(c_supe, &macro_c_supe, 16 21 24 28 57)
COMBO(c_feh, &macro_c_feh, 16 30 33 57)
COMBO(c_adms, &macro_c_adms, 27 28 29 47 57)
COMBO(c_dvn, &macro_c_dvn, 29 43 46 57)
COMBO(c_heal, &macro_c_heal, 16 27 33 36 57)
COMBO(c_poes, &macro_c_poes, 16 23 24 28 57)
COMBO(c_opsi, &macro_c_opsi, 22 23 24 28 57)
COMBO(c_uvs, &macro_c_uvs, 21 28 43 57)
COMBO(c_pig, &macro_c_pig, 22 24 31 57)
COMBO(c_sfc, &macro_c_sfc, 28 30 42 57)
COMBO(c_fuo, &macro_c_fuo, 21 23 30 57)
COMBO(c_hsd, &macro_c_hsd, 28 29 33 57)
COMBO(c_dgl, &macro_c_dgl, 29 31 36 57)
COMBO(c_jr, &macro_c_jr, 17 34 57)
COMBO(c_fod, &macro_c_fod, 23 29 30 57)
COMBO(c_chal, &macro_c_chal, 27 33 36 42 57)
COMBO(c_resa, &macro_c_resa, 16 17 27 28 57)
COMBO(c_fail, &macro_c_fail, 22 27 30 36 57)
COMBO(c_pov, &macro_c_pov, 23 24 43 57)
COMBO(c_cfli, &macro_c_cfli, 22 30 36 42 57)
COMBO(c_bih, &macro_c_bih, 22 33 44 57)
COMBO(c_bas, &macro_c_bas, 27 28 44 57)
COMBO(c_bsi, &macro_c_bsi, 22 28 44 57)
COMBO(c_itsd, &macro_c_itsd, 18 22 28 29 57)
COMBO(c_suvi, &macro_c_suvi, 21 22 28 43 57)
COMBO(c_feli, &macro_c_feli, 16 22 30 36 57)
COMBO(c_ltu, &macro_c_ltu, 18 21 36 57)
COMBO(c_caul, &macro_c_caul, 21 27 36 42 57)
COMBO(c_cmfl, &macro_c_cmfl, 30 36 42 47 57)
COMBO(c_elnt, &macro_c_elnt, 16 18 36 46 57)
COMBO(c_reln, &macro_c_reln, 16 17 36 46 57)
COMBO(c_dsla, &macro_c_dsla, 27 28 29 36 57)
COMBO(c_sent, &macro_c_sent, 16 18 28 46 57)
COMBO(c_aicf, &macro_c_aicf, 22 27 30 42 57)
COMBO(c_eiy, &macro_c_eiy, 16 20 22 57)
COMBO(c_epsi, &macro_c_epsi, 16 22 24 28 57)
COMBO(c_req, &macro_c_req, 14 16 17 57)
COMBO(c_sgh, &macro_c_sgh, 28 31 33 57)
COMBO(c_tels, &macro_c_tels, 16 18 28 36 57)
COMBO(c_ipov, &macro_c_ipov, 22 23 24 43 57)
COMBO(c_enta, &macro_c_enta, 16 18 27 46 57)
COMBO(c_psb, &macro_c_psb, 24 28 44 57)
COMBO(c_sng, &macro_c_sng, 28 31 46 57)
COMBO(c_riy, &macro_c_riy, 17 20 22 57)
COMBO(c_doy, &macro_c_doy, 20 23 29 57)
COMBO(c_cosi, &macro_c_cosi, 22 23 28 42 57)
COMBO(c_ilet, &macro_c_ilet, 16 18 22 36 57)
COMBO(c_lnd, &macro_c_lnd, 29 36 46 57)
COMBO(c_epoy, &macro_c_epoy, 16 20 23 24 57)
COMBO(c_pcv, &macro_c_pcv, 24 42 43 57)
COMBO(c_tyl, &macro_c_tyl, 18 20 36 57)
COMBO(c_bud, &macro_c_bud, 21 29 44 57)
COMBO(c_tud, &macro_c_tud, 18 21 29 57)
COMBO(c_vail, &macro_c_vail, 22 27 36 43 57)
COMBO(c_sreh, &macro_c_sreh, 16 17 28 33 57)
COMBO(c_seli, &macro_c_seli, 16 22 28 36 57)
COMBO(c_wrn, &macro_c_wrn, 15 17 46 57)
COMBO(c_asoi, &macro_c_asoi, 22 23 27 28 57)
COMBO(c_mdl, &macro_c_mdl, 29 36 47 57)
COMBO(c_rlw, &macro_c_rlw, 15 17 36 57)
COMBO(c_erml, &macro_c_erml, 16 17 36 47 57)
COMBO(c_pics, &macro_c_pics, 22 24 28 42 57)
COMBO(c_fsal, &macro_c_fsal, 27 28 30 36 57)
COMBO(c_ly, &macro_c_ly, 20 36 57)
COMBO(c_clus, &macro_c_clus, 21 28 36 42 57)
COMBO(c_tey, &macro_c_tey, 16 18 20 57)
COMBO(c_wdl, &macro_c_wdl, 15 29 36 57)
COMBO(c_copi, &macro_c_copi, 22 23 24 42 57)
COMBO(c_coh, &macro_c_coh, 23 33 42 57)
COMBO(c_iuo, &macro_c_iuo, 21 22 23 57)
COMBO(c_sfae, &macro_c_sfae, 16 27 28 30 57)
COMBO(c_slv, &macro_c_slv, 28 36 43 57)
COMBO(c_rdui, &macro_c_rdui, 17 21 22 29 57)
COMBO(c_eual, &macro_c_eual, 16 21 27 36 57)
COMBO(c_tnk, &macro_c_tnk, 18 35 46 57)
COMBO(c_oiz, &macro_c_oiz, 22 23 40 57)
COMBO(c_usad, &macro_c_usad, 21 27 28 29 57)
COMBO(c_ngd, &macro_c_ngd, 29 31 46 57)
COMBO(c_cob, &macro_c_cob, 23 42 44 57)
COMBO(c_ital, &macro_c_ital, 18 22 27 36 57)
COMBO(c_soy, &macro_c_soy, 20 23 28 57)
COMBO(c_owi, &macro_c_owi, 15 22 23 57)
COMBO(c_dtn, &macro_c_dtn, 18 29 46 57)
COMBO(c_reoa, &macro_c_reoa, 16 17 23 27 57)
COMBO(c_hrl, &macro_c_hrl, 17 33 36 57)
COMBO(c_eatl, &macro_c_eatl, 16 18 27 36 57)
COMBO(c_pou, &macro_c_pou, 21 23 24 57)
COMBO(c_asli, &macro_c_asli, 22 27 28 36 57)
COMBO(c_dul, &macro_c_dul, 21 29 36 57)
COMBO(c_caly, &macro_c_caly, 20 27 36 42 57)
COMBO(c_eqm, &macro_c_eqm, 14 16 47 57)
COMBO(c_sck, &macro_c_sck, 28 35 42 57)
COMBO(c_sefl, &macro_c_sefl, 16 28 30 36 57)
COMBO(c_relu, &macro_c_relu, 16 17 21 36 57)
COMBO(c_cox, &macro_c_cox, 23 41 42 57)
COMBO(c_rula, &macro_c_rula, 17 21 27 36 57)
COMBO(c_pfc, &macro_c_pfc, 24 30 42 57)
COMBO(c_dliv, &macro_c_dliv, 22 29 36 43 57)
COMBO(c_caoy, &macro_c_caoy, 20 23 27 42 57)
COMBO(c_asmt, &macro_c_asmt, 18 27 28 47 57)
COMBO(c_pba, &macro_c_pba, 24 27 44 57)
COMBO(c_dmg, &macro_c_dmg, 29 31 47 57)
COMBO(c_smla, &macro_c_smla, 27 28 36 47 57)
COMBO(c_sand, &macro_c_sand, 27 28 29 46 57)
COMBO(c_ban, &macro_c_ban, 27 44 46 57)
COMBO(c_agy, &macro_c_agy, 20 27 31 57)
COMBO(c_pib, &macro_c_pib, 22 24 44 57)
COMBO(c_egls, &macro_c_egls, 16 28 31 36 57)
COMBO(c_gah, &macro_c_gah, 27 31 33 57)
COMBO(c_selm, &macro_c_selm, 16 28 36 47 57)
COMBO(c_coas, &macro_c_coas, 23 27 28 42 57)
COMBO(c_eut, &macro_c_eut, 16 18 21 57)
COMBO(c_tase, &macro_c_tase, 16 18 27 28 57)
COMBO(c_poei, &macro_c_poei, 16 22 23 24 57)
COMBO(c_wy, &macro_c_wy, 15 20 57)
COMBO(c_whe, &macro_c_whe, 15 16 33 57)
COMBO(c_que, &macro_c_que, 14 16 21 57)
COMBO(c_aiet, &macro_c_aiet, 16 18 22 27 57)
COMBO(c_zn, &macro_c_zn, 40 46 57)
COMBO(c_wit, &macro_c_wit, 15 18 22 57)
COMBO(c_sug, &macro_c_sug, 21 28 31 57)
COMBO(c_oiy, &macro_c_oiy, 20 22 23 57)
COMBO(c_spra, &macro_c_spra, 17 24 27 28 57)
COMBO(c_fdy, &macro_c_fdy, 20 29 30 57)
COMBO(c_stal, &macro_c_stal, 18 27 28 36 57)
COMBO(c_lwy, &macro_c_lwy, 15 20 36 57)
COMBO(c_lug, &macro_c_lug, 21 31 36 57)
COMBO(c_aidt, &macro_c_aidt, 18 22 27 29 57)
COMBO(c_lics, &macro_c_lics, 22 28 36 42 57)
COMBO(c_sudl, &macro_c_sudl, 21 28 29 36 57)
COMBO(c_reso, &macro_c_reso, 16 17 23 28 57)
COMBO(c_rsah, &macro_c_rsah, 17 27 28 33 57)
COMBO(c_prue, &macro_c_prue, 16 17 21 24 57)
COMBO(c_cov, &macro_c_cov, 23 42 43 57)
COMBO(c_advn, &macro_c_advn, 27 29 43 46 57)
COMBO(c_epit, &macro_c_epit, 16 18 22 24 57)
COMBO(c_vaio, &macro_c_vaio, 22 23 27 43 57)
COMBO(c_fql, &macro_c_fql, 14 30 36 57)
COMBO(c_vlm, &macro_c_vlm, 36 43 47 57)
COMBO(c_sage, &macro_c_sage, 16 27 28 31 57)
COMBO(c_agu, &macro_c_agu, 21 27 31 57)
COMBO(c_fam, &macro_c_fam, 27 30 47 57)
COMBO(c_bsh, &macro_c_bsh, 28 33 44 57)
COMBO(c_bil, &macro_c_bil, 22 36 44 57)
COMBO(c_sty, &macro_c_sty, 18 20 28 57)
COMBO(c_heg, &macro_c_heg, 16 31 33 57)
COMBO(c_foai, &macro_c_foai, 22 23 27 30 57)
COMBO(c_tsai, &macro_c_tsai, 18 22 27 28 57)
COMBO(c_clhs, &macro_c_clhs, 28 33 36 42 57)
COMBO(c_clk, &macro_c_clk, 35 36 42 57)
COMBO(c_cbu, &macro_c_cbu, 21 42 44 57)
COMBO(c_iega, &macro_c_iega, 16 22 27 31 57)
COMBO(c_cvs, &macro_c_cvs, 28 42 43 57)
COMBO(c_fdm, &macro_c_fdm, 29 30 47 57)
COMBO(c_wdr, &macro_c_wdr, 15 17 29 57)
COMBO(c_aieu, &macro_c_aieu, 16 21 22 27 57)
COMBO(c_seio, &macro_c_seio, 16 22 23 28 57)
COMBO(c_tuis, &macro_c_tuis, 18 21 22 28 57)
COMBO(c_blc, &macro_c_blc, 36 42 44 57)
COMBO(c_idsl, &macro_c_idsl, 22 28 29 36 57)
COMBO(c_thea, &macro_c_thea, 16 18 27 33 57)
COMBO(c_quk, &macro_c_quk, 14 21 35 57)
COMBO(c_wen, &macro_c_wen, 15 16 46 57)
COMBO(c_sbl, &macro_c_sbl, 28 36 44 57)
COMBO(c_tmal, &macro_c_tmal, 18 27 36 47 57)
COMBO(c_fsn, &macro_c_fsn, 28 30 46 57)
COMBO(c_jd, &macro_c_jd, 29 34 57)
COMBO(c_paic, &macro_c_paic, 22 24 27 42 57)
COMBO(c_sgy, &macro_c_sgy, 20 28 31 57)
COMBO(c_wkd, &macro_c_wkd, 15 29 35 57)
COMBO(c_shdl, &macro_c_shdl, 28 29 33 36 57)
COMBO(c_istl, &macro_c_istl, 18 22 28 36 57)
COMBO(c_sok, &macro_c_sok, 23 28 35 57)
COMBO(c_posei, &macro_c_posei, 16 22 23 24 28 57)
COMBO(c_atio, &macro_c_atio, 18 22 23 27 57)
COMBO(c_dty, &macro_c_dty, 18 20 29 57)
COMBO(c_cofi, &macro_c_cofi, 22 23 30 42 57)
COMBO(c_pfu, &macro_c_pfu, 21 24 30 57)
COMBO(c_esnl, &macro_c_esnl, 16 28 36 46 57)
COMBO(c_egy, &macro_c_egy, 16 20 31 57)
COMBO(c_ciz, &macro_c_ciz, 22 40 42 57)
COMBO(c_hod, &macro_c_hod, 23 29 33 57)
COMBO(c_ielg, &macro_c_ielg, 16 22 31 36 57)
COMBO(c_pfi, &macro_c_pfi, 22 24 30 57)
COMBO(c_eour, &macro_c_eour, 16 17 21 23 57)
COMBO(c_daos, &macro_c_daos, 23 27 28 29 57)
COMBO(c_hgi, &macro_c_hgi, 22 31 33 57)
COMBO(c_buo, &macro_c_buo, 21 23 44 57)
COMBO(c_bks, &macro_c_bks, 28 35 44 57)
COMBO(c_pasi, &macro_c_pasi, 22 24 27 28 57)
COMBO(c_ispr, &macro_c_ispr, 17 22 24 28 57)
COMBO(c_jc, &macro_c_jc, 34 42 57)
COMBO(c_poca, &macro_c_poca, 23 24 27 42 57)
COMBO(c_pge, &macro_c_pge, 16 24 31 57)
COMBO(c_obs, &macro_c_obs, 23 28 44 57)
COMBO(c_auir, &macro_c_auir, 17 21 22 27 57)
COMBO(c_liy, &macro_c_liy, 20 22 36 57)
COMBO(c_yot, &macro_c_yot, 18 20 23 57)
COMBO(c_lgy, &macro_c_lgy, 20 31 36 57)
COMBO(c_ity, &macro_c_ity, 18 20 22 57)
COMBO(c_alnv, &macro_c_alnv, 27 36 43 46 57)
COMBO(c_flw, &macro_c_flw, 15 30 36 57)
COMBO(c_ehag, &macro_c_ehag, 16 27 31 33 57)
COMBO(c_cops, &macro_c_cops, 23 24 28 42 57)
COMBO(c_soea, &macro_c_soea, 16 23 27 28 57)
COMBO(c_tule, &macro_c_tule, 16 18 21 36 57)
COMBO(c_cfu, &macro_c_cfu, 21 30 42 57)
COMBO(c_copu, &macro_c_copu, 21 23 24 42 57)
COMBO(c_hoi, &macro_c_hoi, 22 23 33 57)
COMBO(c_qie, &macro_c_qie, 14 16 22 57)
COMBO(c_prdi, &macro_c_prdi, 17 22 24 29 57)
COMBO(c_mz, &macro_c_mz, 40 47 57)
COMBO(c_elui, &macro_c_elui, 16 21 22 36 57)
COMBO(c_atud, &macro_c_atud, 18 21 27 29 57)
COMBO(c_blk, &macro_c_blk, 35 36 44 57)
COMBO(c_sog, &macro_c_sog, 23 28 31 57)
COMBO(c_pora, &macro_c_pora, 17 23 24 27 57)
COMBO(c_poy, &macro_c_poy, 20 23 24 57)
COMBO(c_hog, &macro_c_hog, 23 31 33 57)
COMBO(c_ayw, &macro_c_ayw, 15 20 27 57)
COMBO(c_raly, &macro_c_raly, 17 20 27 36 57)
COMBO(c_aj, &macro_c_aj, 27 34 57)
COMBO(c_shoi, &macro_c_shoi, 22 23 28 33 57)
COMBO(c_sub, &macro_c_sub, 21 28 44 57)
COMBO(c_foh, &macro_c_foh, 23 30 33 57)
COMBO(c_ldrs, &macro_c_ldrs, 17 28 29 36 57)
COMBO(c_teiy, &macro_c_teiy, 16 18 20 22 57)
COMBO(c_ix, &macro_c_ix, 22 41 57)
COMBO(c_awd, &macro_c_awd, 15 27 29 57)
COMBO(c_jas, &macro_c_jas, 27 28 34 57)
COMBO(c_copsi, &macro_c_copsi, 22 23 24 28 42 57)
COMBO(c_elmat, &macro_c_elmat, 16 18 27 36 47 57)
COMBO(c_sour, &macro_c_sour, 17 21 23 28 57)
COMBO(c_epto, &macro_c_epto, 16 18 23 24 57)
COMBO(c_psor, &macro_c_psor, 17 23 24 28 57)
COMBO(c_cafl, &macro_c_cafl, 27 30 36 42 57)
COMBO(c_opg, &macro_c_opg, 23 24 31 57)
COMBO(c_sual, &macro_c_sual, 21 27 28 36 57)
COMBO(c_afeo, &macro_c_afeo, 16 23 27 30 57)
COMBO(c_acpy, &macro_c_acpy, 20 24 27 42 57)
COMBO(c_ije, &macro_c_ije, 16 22 34 57)
COMBO(c_acoh, &macro_c_acoh, 23 27 33 42 57)
COMBO(c_prio, &macro_c_prio, 17 22 23 24 57)
COMBO(c_dsio, &macro_c_dsio, 22 23 28 29 57)
COMBO(c_cnsa, &macro_c_cnsa, 27 28 42 46 57)
COMBO(c_bial, &macro_c_bial, 22 27 36 44 57)
COMBO(c_aosr, &macro_c_aosr, 17 23 27 28 57)
COMBO(c_iob, &macro_c_iob, 22 23 44 57)
COMBO(c_aute, &macro_c_aute, 16 18 21 27 57)
COMBO(c_darm, &macro_c_darm, 17 27 29 47 57)
COMBO(c_weit, &macro_c_weit, 15 16 18 22 57)
COMBO(c_disb, &macro_c_disb, 22 28 29 44 57)
COMBO(c_saif, &macro_c_saif, 22 27 28 30 57)
COMBO(c_paw, &macro_c_paw, 15 24 27 57)
COMBO(c_bnd, &macro_c_bnd, 29 44 46 57)
COMBO(c_ridl, &macro_c_ridl, 17 22 29 36 57)
COMBO(c_chap, &macro_c_chap, 24 27 33 42 57)
COMBO(c_hrd, &macro_c_hrd, 17 29 33 57)
COMBO(c_bay, &macro_c_bay, 20 27 44 57)
COMBO(c_mx, &macro_c_mx, 41 47 57)
COMBO(c_clba, &macro_c_clba, 27 36 42 44 57)
COMBO(c_idar, &macro_c_idar, 17 22 27 29 57)
COMBO(c_vly, &macro_c_vly, 20 36 43 57)
COMBO(c_supr, &macro_c_supr, 17 21 24 28 57)
COMBO(c_csy, &macro_c_csy, 20 28 42 57)
COMBO(c_ermal, &macro_c_ermal, 16 17 27 36 47 57)
COMBO(c_ilga, &macro_c_ilga, 22 27 31 36 57)
COMBO(c_asne, &macro_c_asne, 16 27 28 46 57)
COMBO(c_ovu, &macro_c_ovu, 21 23 43 57)
COMBO(c_cusa, &macro_c_cusa, 21 27 28 42 57)
COMBO(c_eily, &macro_c_eily, 16 20 22 36 57)
COMBO(c_sief, &macro_c_sief, 16 22 28 30 57)
COMBO(c_clhi, &macro_c_clhi, 22 33 36 42 57)
COMBO(c_max, &macro_c_max, 27 41 47 57)
COMBO(c_srk, &macro_c_srk, 17 28 35 57)
COMBO(c_qif, &macro_c_qif, 14 22 30 57)
COMBO(c_yew, &macro_c_yew, 15 16 20 57)
COMBO(c_pges, &macro_c_pges, 16 24 28 31 57)
COMBO(c_acsl, &macro_c_acsl, 27 28 36 42 57)
COMBO(c_thal, &macro_c_thal, 18 27 33 36 57)
COMBO(c_poit, &macro_c_poit, 18 22 23 24 57)
COMBO(c_msk, &macro_c_msk, 28 35 47 57)
COMBO(c_fk, &macro_c_fk, 30 35 57)
COMBO(c_oeat, &macro_c_oeat, 16 18 23 27 57)
COMBO(c_pof, &macro_c_pof, 23 24 30 57)
COMBO(c_easio, &macro_c_easio, 16 22 23 27 28 57)
COMBO(c_fly, &macro_c_fly, 20 30 36 57)
COMBO(c_tya, &macro_c_tya, 18 20 27 57)
COMBO(c_dior, &macro_c_dior, 17 22 23 29 57)
COMBO(c_cova, &macro_c_cova, 23 27 42 43 57)
COMBO(c_ifsu, &macro_c_ifsu, 21 22 28 30 57)
COMBO(c_afw, &macro_c_afw, 15 27 30 57)
COMBO(c_fih, &macro_c_fih, 22 30 33 57)
COMBO(c_aely, &macro_c_aely, 16 20 27 36 57)
COMBO(c_aibu, &macro_c_aibu, 21 22 27 44 57)
COMBO(c_pait, &macro_c_pait, 18 22 24 27 57)
COMBO(c_sav, &macro_c_sav, 27 28 43 57)
COMBO(c_taso, &macro_c_taso, 18 23 27 28 57)
COMBO(c_dmst, &macro_c_dmst, 18 28 29 47 57)
COMBO(c_roy, &macro_c_roy, 17 20 23 57)
COMBO(c_piay, &macro_c_piay, 20 22 24 27 57)
COMBO(c_kfe, &macro_c_kfe, 16 30 35 57)
COMBO(c_isru, &macro_c_isru, 17 21 22 28 57)
COMBO(c_efly, &macro_c_efly, 16 20 30 36 57)
COMBO(c_clsf, &macro_c_clsf, 28 30 36 42 57)
COMBO(c_soag, &macro_c_soag, 23 27 28 31 57)
COMBO(c_hgw, &macro_c_hgw, 15 31 33 57)
COMBO(c_eql, &macro_c_eql, 14 16 36 57)
COMBO(c_ltan, &macro_c_ltan, 18 27 36 46 57)
COMBO(c_dph, &macro_c_dph, 24 29 33 57)
COMBO(c_dsat, &macro_c_dsat, 18 27 28 29 57)
COMBO(c_sule, &macro_c_sule, 16 21 28 36 57)
COMBO(c_sufe, &macro_c_sufe, 16 21 28 30 57)
COMBO(c_suil, &macro_c_suil, 21 22 28 36 57)
COMBO(c_divs, &macro_c_divs, 22 28 29 43 57)
COMBO(c_viy, &macro_c_viy, 20 22 43 57)
