#define BASE 0
#define NAV 1

#define LCOMBO(NAME, BINDINGS, KEYPOS, LAYER) \
  combo_##NAME##LAYER { \
    timeout-ms = <100>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYER>; \
  };

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <100>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <BASE>; \
  };


MACRO(c_able    , &kp A &kp B &kp L &kp E)
MACRO(c_ance    , &kp A &kp N &kp C &kp E)
MACRO(c_ate     , &kp A &kp T &kp E)
MACRO(c_age     , &kp A &kp G &kp E)
MACRO(c_macro   , &kp M &kp A &kp C &kp R &kp O)
MACRO(c_anti    , &kp A &kp N &kp T &kp I)
MACRO(c_auto    , &kp A &kp U &kp T &kp O)
MACRO(c_ible    , &kp I &kp B &kp L &kp E)
MACRO(c_circum  , &kp C &kp I &kp R &kp C &kp U &kp M)
MACRO(c_com     , &kp C &kp O &kp M)
MACRO(c_con     , &kp C &kp O &kp N)
MACRO(c_contra  , &kp C &kp O &kp N &kp T &kp R &kp A)
MACRO(c_hood    , &kp H &kp O &kp O &kp D)
MACRO(c_dis     , &kp D &kp I &kp S)
MACRO(c_ward    , &kp W &kp A &kp R &kp D)
MACRO(c_extra   , &kp E &kp X &kp T &kp R &kp A)
MACRO(c_hetero  , &kp H &kp E &kp T &kp E &kp R &kp O)
MACRO(c_ize     , &kp I &kp Z &kp E)
MACRO(c_ence    , &kp E &kp N &kp C &kp E)
MACRO(c_pre     , &kp P &kp R &kp E)
MACRO(c_ery     , &kp E &kp R &kp Y)
MACRO(c_ise     , &kp I &kp S &kp E)
MACRO(c_tele    , &kp T &kp E &kp L &kp E)
MACRO(c_wise    , &kp W &kp I &kp S &kp E)
MACRO(c_the     , &kp T &kp H &kp E)
MACRO(c_ful     , &kp F &kp U &kp L)
MACRO(c_for     , &kp F &kp O &kp R)
MACRO(c_ing     , &kp I &kp N &kp G)
MACRO(c_homo    , &kp H &kp O &kp M &kp O)
MACRO(c_hyper   , &kp H &kp Y &kp P &kp E &kp R)
MACRO(c_micro   , &kp M &kp I &kp C &kp R &kp O)
MACRO(c_inter   , &kp I &kp N &kp T &kp E &kp R)
MACRO(c_intro   , &kp I &kp N &kp T &kp R &kp O)
MACRO(c_ist     , &kp I &kp S &kp T)
MACRO(c_ity     , &kp I &kp T &kp Y)
MACRO(c_ive     , &kp I &kp V &kp E)
MACRO(c_less    , &kp L &kp E &kp S &kp S)
MACRO(c_mono    , &kp M &kp O &kp N &kp O)
MACRO(c_ment    , &kp M &kp E &kp N &kp T)
MACRO(c_sym     , &kp S &kp Y &kp M)
MACRO(c_omni    , &kp O &kp M &kp N &kp I)
MACRO(c_sion    , &kp S &kp I &kp O &kp N)
MACRO(c_tion    , &kp T &kp I &kp O &kp N)
MACRO(c_uni     , &kp U &kp N &kp I)
MACRO(c_pro     , &kp P &kp R &kp O)
MACRO(c_ous     , &kp O &kp U &kp S)
MACRO(c_ship    , &kp S &kp H &kp I &kp P)
MACRO(c_post    , &kp P &kp O &kp S &kp T)
MACRO(c_trans   , &kp T &kp R &kp A &kp N &kp S)
MACRO(c_ure     , &kp U &kp R &kp E)
MACRO(c_sub     , &kp S &kp U &kp B)
MACRO(c_syn     , &kp S &kp Y &kp N)

COMBO(c_able    , &macro_c_able    , RH0 LM4 LB0)  // ab
COMBO(c_ance    , &macro_c_ance    , RH0 LM4 LB2)  // ac
COMBO(c_ate     , &macro_c_ate     , RH0 LM4 LT2)  // ae
COMBO(c_age     , &macro_c_age     , RH0 LM4 LM0)  // ag
COMBO(c_macro   , &macro_c_macro   , RH0 LM4 RB1)  // am
COMBO(c_anti    , &macro_c_anti    , RH0 LM4 LT0)  // at
COMBO(c_auto    , &macro_c_auto    , RH0 LM4 RT1)  // au
COMBO(c_ible    , &macro_c_ible    , RH0 LB0 RT2)  // bi
COMBO(c_circum  , &macro_c_circum  , RH0 LB2 RT2)  // ci
COMBO(c_com     , &macro_c_com     , RH0 LB2 RB1)  // cm
COMBO(c_con     , &macro_c_con     , RH0 LB2 RB0)  // cn
COMBO(c_contra  , &macro_c_contra  , RH0 LB2 LT0)  // ct
COMBO(c_hood    , &macro_c_hood    , RH0 LM2 RM0)  // dh
COMBO(c_dis     , &macro_c_dis     , RH0 LM2 RT2)  // di
COMBO(c_ward    , &macro_c_ward    , RH0 LM2 LT3)  // dw
COMBO(c_extra   , &macro_c_extra   , RH0 LM2 LB3)  // dx
COMBO(c_hetero  , &macro_c_hetero  , RH0 LT2 RM0)  // eh
COMBO(c_ize     , &macro_c_ize     , RH0 LT2 RT2)  // ei
COMBO(c_ence    , &macro_c_ence    , RH0 LT2 RB0)  // en
COMBO(c_pre     , &macro_c_pre     , RH0 LT2 RT4)  // ep
COMBO(c_ery     , &macro_c_ery     , RH0 LT2 LT1)  // er
COMBO(c_ise     , &macro_c_ise     , RH0 LT2 LM3)  // es
COMBO(c_tele    , &macro_c_tele    , RH0 LT2 LT0)  // et
COMBO(c_wise    , &macro_c_wise    , RH0 LT2 LT3)  // ew
COMBO(c_the     , &macro_c_the     , RH0 LT2 LB4)  // ez
COMBO(c_ful     , &macro_c_ful     , RH0 LM1 RM3)  // fl
COMBO(c_for     , &macro_c_for     , RH0 LM1 RT3)  // fo
COMBO(c_ing     , &macro_c_ing     , RH0 LM0 RB0)  // gn
COMBO(c_homo    , &macro_c_homo    , RH0 RM0 RT3)  // ho
COMBO(c_hyper   , &macro_c_hyper   , RH0 RM0 LT1)  // hr
COMBO(c_micro   , &macro_c_micro   , RH0 RT2 RB1)  // im
COMBO(c_inter   , &macro_c_inter   , RH0 RT2 RB0)  // in
COMBO(c_intro   , &macro_c_intro   , RH0 RT2 RT3)  // io
COMBO(c_ist     , &macro_c_ist     , RH0 RT2 LM3)  // is
COMBO(c_ity     , &macro_c_ity     , RH0 RT2 LT0)  // it
COMBO(c_ive     , &macro_c_ive     , RH0 RT2 LB1)  // iv
COMBO(c_less    , &macro_c_less    , RH0 RM3 LM3)  // ls
COMBO(c_mono    , &macro_c_mono    , RH0 RB1 RT3)  // mo
COMBO(c_ment    , &macro_c_ment    , RH0 RB1 LT0)  // mt
COMBO(c_sym     , &macro_c_sym     , RH0 RB1 RT0)  // my
COMBO(c_omni    , &macro_c_omni    , RH0 RB0 RT3)  // no
COMBO(c_sion    , &macro_c_sion    , RH0 RB0 LM3)  // ns
COMBO(c_tion    , &macro_c_tion    , RH0 RB0 LT0)  // nt
COMBO(c_uni     , &macro_c_uni     , RH0 RB0 RT1)  // nu
COMBO(c_pro     , &macro_c_pro     , RH0 RT3 RT4)  // op
COMBO(c_ous     , &macro_c_ous     , RH0 RT3 LM3)  // os
COMBO(c_ship    , &macro_c_ship    , RH0 RT4 LM3)  // ps
COMBO(c_post    , &macro_c_post    , RH0 RT4 LT0)  // pt
COMBO(c_trans   , &macro_c_trans   , RH0 LT1 LT0)  // rt
COMBO(c_ure     , &macro_c_ure     , RH0 LT1 RT1)  // ru
COMBO(c_sub     , &macro_c_sub     , RH0 LM3 RT1)  // su
COMBO(c_syn     , &macro_c_syn     , RH0 LM3 RT0)  // sy
