#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <100>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0 1>; \
  };

COMBO(c_SEMI, &macro_c_SEMI, 37 56)
COMBO(c_COMMA, &macro_c_COMMA, 48 56)
COMBO(c_DOT, &macro_c_DOT, 49 56)
COMBO(c_t, &macro_c_t, 18 56)
COMBO(c_a, &macro_c_a, 27 56)
COMBO(c_y, &macro_c_y, 20 56)
COMBO(c_h, &macro_c_h, 33 56)
COMBO(c_ta, &macro_c_ta, 18 27 56)
COMBO(c_yr, &macro_c_yr, 17 20 56)
COMBO(c_c, &macro_c_c, 42 56)
COMBO(c_b, &macro_c_b, 44 56)
COMBO(c_w, &macro_c_w, 15 56)
COMBO(c_te, &macro_c_te, 16 18 56)
COMBO(c_ts, &macro_c_ts, 18 28 56)
COMBO(c_wi, &macro_c_wi, 15 22 56)
COMBO(c_s, &macro_c_s, 28 56)
COMBO(c_m, &macro_c_m, 47 56)
COMBO(c_ti, &macro_c_ti, 18 22 56)
COMBO(c_al, &macro_c_al, 27 36 56)
COMBO(c_u, &macro_c_u, 21 56)
COMBO(c_we, &macro_c_we, 15 16 56)
COMBO(c_tm, &macro_c_tm, 18 47 56)
COMBO(c_o, &macro_c_o, 23 56)
COMBO(c_tk, &macro_c_tk, 18 35 56)
COMBO(c_wd, &macro_c_wd, 15 29 56)
COMBO(c_g, &macro_c_g, 31 56)
COMBO(c_th, &macro_c_th, 18 33 56)
COMBO(c_gd, &macro_c_gd, 29 31 56)
COMBO(c_p, &macro_c_p, 24 56)
COMBO(c_k, &macro_c_k, 35 56)
COMBO(c_ya, &macro_c_ya, 20 27 56)
COMBO(c_i, &macro_c_i, 22 56)
COMBO(c_me, &macro_c_me, 16 47 56)
COMBO(c_sm, &macro_c_sm, 28 47 56)
COMBO(c_the, &macro_c_the, 16 18 33 56)
COMBO(c_tn, &macro_c_tn, 18 46 56)
COMBO(c_wr, &macro_c_wr, 15 17 56)
COMBO(c_thk, &macro_c_thk, 18 33 35 56)
COMBO(c_cm, &macro_c_cm, 42 47 56)
COMBO(c_wa, &macro_c_wa, 15 27 56)
COMBO(c_f, &macro_c_f, 30 56)
COMBO(c_tes, &macro_c_tes, 16 18 28 56)
COMBO(c_cl, &macro_c_cl, 36 42 56)
COMBO(c_fs, &macro_c_fs, 28 30 56)
COMBO(c_sl, &macro_c_sl, 28 36 56)
COMBO(c_is, &macro_c_is, 22 28 56)
COMBO(c_fm, &macro_c_fm, 30 47 56)
COMBO(c_wh, &macro_c_wh, 15 33 56)
COMBO(c_ir, &macro_c_ir, 17 22 56)
COMBO(c_ha, &macro_c_ha, 27 33 56)
COMBO(c_gu, &macro_c_gu, 21 31 56)
COMBO(c_cs, &macro_c_cs, 28 42 56)
COMBO(c_e, &macro_c_e, 16 56)
COMBO(c_fi, &macro_c_fi, 22 30 56)
COMBO(c_l, &macro_c_l, 36 56)
COMBO(c_d, &macro_c_d, 29 56)
COMBO(c_wl, &macro_c_wl, 15 36 56)
COMBO(c_eu, &macro_c_eu, 16 21 56)
COMBO(c_pi, &macro_c_pi, 22 24 56)
COMBO(c_oe, &macro_c_oe, 16 23 56)
COMBO(c_wt, &macro_c_wt, 15 18 56)
COMBO(c_v, &macro_c_v, 43 56)
COMBO(c_id, &macro_c_id, 22 29 56)
COMBO(c_oy, &macro_c_oy, 20 23 56)
COMBO(c_j, &macro_c_j, 34 56)
COMBO(c_gi, &macro_c_gi, 22 31 56)
COMBO(c_su, &macro_c_su, 21 28 56)
COMBO(c_ma, &macro_c_ma, 27 47 56)
COMBO(c_sd, &macro_c_sd, 28 29 56)
COMBO(c_wn, &macro_c_wn, 15 46 56)
COMBO(c_ae, &macro_c_ae, 16 27 56)
COMBO(c_n, &macro_c_n, 46 56)
COMBO(c_ci, &macro_c_ci, 22 42 56)
COMBO(c_ia, &macro_c_ia, 22 27 56)
COMBO(c_lk, &macro_c_lk, 35 36 56)
COMBO(c_hi, &macro_c_hi, 22 33 56)
COMBO(c_lf, &macro_c_lf, 30 36 56)
COMBO(c_bs, &macro_c_bs, 28 44 56)
COMBO(c_thi, &macro_c_thi, 18 22 33 56)
COMBO(c_bm, &macro_c_bm, 44 47 56)
COMBO(c_hv, &macro_c_hv, 33 43 56)
COMBO(c_pa, &macro_c_pa, 24 27 56)
COMBO(c_ga, &macro_c_ga, 27 31 56)
COMBO(c_wk, &macro_c_wk, 15 35 56)
COMBO(c_so, &macro_c_so, 23 28 56)
COMBO(c_le, &macro_c_le, 16 36 56)
COMBO(c_sa, &macro_c_sa, 27 28 56)
COMBO(c_cu, &macro_c_cu, 21 42 56)
COMBO(c_en, &macro_c_en, 16 46 56)
COMBO(c_sy, &macro_c_sy, 20 28 56)
COMBO(c_fo, &macro_c_fo, 23 30 56)
COMBO(c_se, &macro_c_se, 16 28 56)
COMBO(c_df, &macro_c_df, 29 30 56)
COMBO(c_lv, &macro_c_lv, 36 43 56)
COMBO(c_pe, &macro_c_pe, 16 24 56)
COMBO(c_hl, &macro_c_hl, 33 36 56)
COMBO(c_r, &macro_c_r, 17 56)
COMBO(c_ch, &macro_c_ch, 33 42 56)
COMBO(c_nr, &macro_c_nr, 17 46 56)
COMBO(c_ca, &macro_c_ca, 27 42 56)
COMBO(c_tl, &macro_c_tl, 18 36 56)
COMBO(c_wae, &macro_c_wae, 15 16 27 56)
COMBO(c_sv, &macro_c_sv, 28 43 56)
COMBO(c_to, &macro_c_to, 18 23 56)
COMBO(c_gm, &macro_c_gm, 31 47 56)
COMBO(c_ke, &macro_c_ke, 16 35 56)
COMBO(c_he, &macro_c_he, 16 33 56)
COMBO(c_fa, &macro_c_fa, 27 30 56)
COMBO(c_sil, &macro_c_sil, 22 28 36 56)
COMBO(c_sr, &macro_c_sr, 17 28 56)
COMBO(c_fe, &macro_c_fe, 16 30 56)
COMBO(c_sar, &macro_c_sar, 17 27 28 56)
COMBO(c_bk, &macro_c_bk, 35 44 56)
COMBO(c_co, &macro_c_co, 23 42 56)
COMBO(c_na, &macro_c_na, 27 46 56)
COMBO(c_io, &macro_c_io, 22 23 56)
COMBO(c_pd, &macro_c_pd, 24 29 56)
COMBO(c_sp, &macro_c_sp, 24 28 56)
COMBO(c_wo, &macro_c_wo, 15 23 56)
COMBO(c_lca, &macro_c_lca, 27 36 42 56)
COMBO(c_ld, &macro_c_ld, 29 36 56)
COMBO(c_ar, &macro_c_ar, 17 27 56)
COMBO(c_ho, &macro_c_ho, 23 33 56)
COMBO(c_bo, &macro_c_bo, 23 44 56)
COMBO(c_ie, &macro_c_ie, 16 22 56)
COMBO(c_er, &macro_c_er, 16 17 56)
COMBO(c_rl, &macro_c_rl, 17 36 56)
COMBO(c_ifa, &macro_c_ifa, 22 27 30 56)
COMBO(c_hd, &macro_c_hd, 29 33 56)
COMBO(c_sae, &macro_c_sae, 16 27 28 56)
COMBO(c_pr, &macro_c_pr, 17 24 56)
COMBO(c_bi, &macro_c_bi, 22 44 56)
COMBO(c_ser, &macro_c_ser, 16 17 28 56)
COMBO(c_ao, &macro_c_ao, 23 27 56)
COMBO(c_mte, &macro_c_mte, 16 18 47 56)
COMBO(c_mr, &macro_c_mr, 17 47 56)
COMBO(c_au, &macro_c_au, 21 27 56)
COMBO(c_md, &macro_c_md, 29 47 56)
COMBO(c_po, &macro_c_po, 23 24 56)
COMBO(c_wm, &macro_c_wm, 15 47 56)
COMBO(c_hr, &macro_c_hr, 17 33 56)
COMBO(c_nv, &macro_c_nv, 43 46 56)
COMBO(c_alw, &macro_c_alw, 15 27 36 56)
COMBO(c_ias, &macro_c_ias, 22 27 28 56)
COMBO(c_li, &macro_c_li, 22 36 56)
COMBO(c_ml, &macro_c_ml, 36 47 56)
COMBO(c_py, &macro_c_py, 20 24 56)
COMBO(c_pt, &macro_c_pt, 18 24 56)
COMBO(c_sh, &macro_c_sh, 28 33 56)
COMBO(c_als, &macro_c_als, 27 28 36 56)
COMBO(c_da, &macro_c_da, 27 29 56)
COMBO(c_sn, &macro_c_sn, 28 46 56)
COMBO(c_ba, &macro_c_ba, 27 44 56)
COMBO(c_ln, &macro_c_ln, 36 46 56)
COMBO(c_nx, &macro_c_nx, 41 46 56)
COMBO(c_od, &macro_c_od, 23 29 56)
COMBO(c_pb, &macro_c_pb, 24 44 56)
COMBO(c_lie, &macro_c_lie, 16 22 36 56)
COMBO(c_ral, &macro_c_ral, 17 27 36 56)
COMBO(c_ud, &macro_c_ud, 21 29 56)
COMBO(c_tai, &macro_c_tai, 18 22 27 56)
COMBO(c_bd, &macro_c_bd, 29 44 56)
COMBO(c_ofe, &macro_c_ofe, 16 23 30 56)
COMBO(c_bl, &macro_c_bl, 36 44 56)
COMBO(c_or, &macro_c_or, 17 23 56)
COMBO(c_dt, &macro_c_dt, 18 29 56)
COMBO(c_pes, &macro_c_pes, 16 24 28 56)
COMBO(c_eal, &macro_c_eal, 16 27 36 56)
COMBO(c_pw, &macro_c_pw, 15 24 56)
COMBO(c_lg, &macro_c_lg, 31 36 56)
COMBO(c_cn, &macro_c_cn, 42 46 56)
COMBO(c_ru, &macro_c_ru, 17 21 56)
COMBO(c_hse, &macro_c_hse, 16 28 33 56)
COMBO(c_rd, &macro_c_rd, 17 29 56)
COMBO(c_bh, &macro_c_bh, 33 44 56)
COMBO(c_cos, &macro_c_cos, 23 28 42 56)
COMBO(c_bn, &macro_c_bn, 44 46 56)
COMBO(c_rei, &macro_c_rei, 16 17 22 56)
COMBO(c_fn, &macro_c_fn, 30 46 56)
COMBO(c_agi, &macro_c_agi, 22 27 31 56)
COMBO(c_sk, &macro_c_sk, 28 35 56)
COMBO(c_ey, &macro_c_ey, 16 20 56)
COMBO(c_cy, &macro_c_cy, 20 42 56)
COMBO(c_mv, &macro_c_mv, 43 47 56)
COMBO(c_bu, &macro_c_bu, 21 44 56)
COMBO(c_sao, &macro_c_sao, 23 27 28 56)
COMBO(c_yg, &macro_c_yg, 20 31 56)
COMBO(c_psi, &macro_c_psi, 22 24 28 56)
COMBO(c_rea, &macro_c_rea, 16 17 27 56)
COMBO(c_cha, &macro_c_cha, 27 33 42 56)
COMBO(c_scl, &macro_c_scl, 28 36 42 56)
COMBO(c_tos, &macro_c_tos, 18 23 28 56)
COMBO(c_tu, &macro_c_tu, 18 21 56)
COMBO(c_alu, &macro_c_alu, 21 27 36 56)
COMBO(c_va, &macro_c_va, 27 43 56)
COMBO(c_iv, &macro_c_iv, 22 43 56)
COMBO(c_go, &macro_c_go, 23 31 56)
COMBO(c_cp, &macro_c_cp, 24 42 56)
COMBO(c_aiv, &macro_c_aiv, 22 27 43 56)
COMBO(c_dv, &macro_c_dv, 29 43 56)
COMBO(c_reo, &macro_c_reo, 16 17 23 56)
COMBO(c_ng, &macro_c_ng, 31 46 56)
COMBO(c_pia, &macro_c_pia, 22 24 27 56)
