#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10
#define ___ &trans

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>


&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;     // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <1000>;
    acceleration-exponent = <2>;
    trigger-period-ms = <16>;
};


/ {
    macros {
        #include "macros.dtsi"

        hold_once: hold_once {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms  = <20>;
            /* Forward the parameter into &kp, and TAP it once */
            bindings = <&macro_param_1to1>, <&macro_tap &kp MACRO_PLACEHOLDER>;
        };
  };

    behaviors {
        tho: tho { // tap-hold once
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";         /* choose to taste */
            tapping-term-ms = <200>;     /* tune to taste */
            /* HOLD -> single-tap macro ; TAP -> plain keypress */
            bindings = <&hold_once>, <&kp>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
            flavor = "tap-preferred";
        };

        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
        };

        scroll_encoder: scroll_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
            tap-ms = <100>;
        };
    };

    combos {
        compatible = "zmk,combos";
        #include "key_labels.dtsi"
        #include "combos.dtsi"
        /*                          60 KEY MATRIX / LAYOUT MAPPING
        ╭────────────────────────────╮              ╭────╮      ╭────────────────────────────╮
        │  0   1   2   3   4   5     │          ╭───╯  6 ╰───╮  │      7   8   9  10  11  12 │
        │ 13  14  15  16  17  18     │  ╭────╮  │ 32  58  45 │  │     20  21  22  23  24  25 │
        │ 26  27  28  29  30  31     │  │ 52 │  ╰───╮ 19 ╭───╯  │     33  34  35  36  37  38 │
        │ 39  40  41  42  43  44     │  ╰────╯      ╰────╯      │     46  47  48  49  50  51 │
        ╰───────╮ 53  54  55  56  57 │                          │ 59  60  61  62  63 ╭───────╯
                ╰────────────────────╯                          ╰────────────────────╯

        ╭────────────────────────────╮              ╭─────╮     ╭─────────────────────────────╮
        │ LN5 LN4 LN3 LN2 LN1 LN0    │          ╭───╯ JS0 ╰───╮ │     RN0 RN1 RN2 RN3 RN4 RN5 │
        │ LT5 LT4 LT3 LT2 LT1 LT0    │ ╭─────╮  │ JS1 JS2 JS3 │ │     RT0 RT1 RT2 RT3 RT4 RT5 │
        │ LM5 LM4 LM3 LM2 LM1 LM0    │ │ LEC │  ╰───╮ JS4 ╭───╯ │     RM0 RM1 RM2 RM3 RM4 RM5 │
        │ LB5 LB4 LB3 LB2 LB1 LB0    │ ╰─────╯      ╰─────╯     │     RB0 RB1 RB2 RB3 RB4 RB5 │
        ╰───────╮ LH4 LH3 LH2 LH1 LH0│                          │ RH0 RH1 RH2 RH3 RH4 ╭───────╯
                ╰────────────────────╯                          ╰─────────────────────╯
        */

        // Extra
        /* LCOMBO(C_z, &kp LC(Z),  RH0 LB4, SOLO) */
        /* LCOMBO(C_x, &kp LC(X),  RH0 LB3, SOLO) */
        /* LCOMBO(C_c, &kp LC(C),  RH0 LB2, SOLO) */
        /* LCOMBO(M_x, &kp LA(X),  LM3 LB3, SOLO) */

        // Vertical
        COMBO(n1,         &kp N1,         LT4 LM4)
        COMBO(n2,         &kp N2,         LT3 LM3)
        COMBO(n3,         &kp N3,         LT2 LM2)
        COMBO(n4,         &kp N4,         LT1 LM1)
        COMBO(n5,         &kp N5,         LT0 LM0)
        COMBO(n6,         &kp N6,         RT0 RM0)
        COMBO(n7,         &kp N7,         RT1 RM1)
        COMBO(n8,         &kp N8,         RT2 RM2)
        COMBO(n9,         &kp N9,         RT3 RM3)
        COMBO(n0,         &kp N0,         RT4 RM4)

        /* COMBO(C_z2,       &kp LC(Z),      LM4 LB4) */
        COMBO(plus,       &kp PLUS,       LM3 LB3)
        COMBO(under,      &kp UNDER,      LM2 LB2)
        COMBO(grave,      &kp GRAVE,      LM1 LB1)
        COMBO(backslash,  &kp BSLH,       LM0 LB0)
        COMBO(minus,      &kp MINUS,      RM1 RB1)
        COMBO(equal,      &kp EQUAL,      RM2 RB2)
        COMBO(lbkt,       &kp LBKT,       RM3 RB3)
        COMBO(rbkt,       &kp RBKT,       RM4 RB4)

        LCOMBO(f1,         &kp F1,         LT4 LM4, NAV)
        LCOMBO(f2,         &kp F2,         LT3 LM3, NAV)
        LCOMBO(f3,         &kp F3,         LT2 LM2, NAV)
        LCOMBO(f4,         &kp F4,         LT1 LM1, NAV)
        LCOMBO(f5,         &kp F5,         LT0 LM0, NAV)
        LCOMBO(f6,         &kp F6,         RT0 RM0, NAV)
        LCOMBO(f7,         &kp F7,         RT1 RM1, NAV)
        LCOMBO(f8,         &kp F8,         RT2 RM2, NAV)
        LCOMBO(f9,         &kp F9,         RT3 RM3, NAV)
        LCOMBO(f10,        &kp F10,        RT4 RM4, NAV)

        LCOMBO(bt1,        &bt BT_SEL 1,   LM4 LB4, NAV)
        LCOMBO(bt2,        &bt BT_SEL 2,   LM3 LB3, NAV)
        LCOMBO(bt3,        &bt BT_SEL 3,   LM2 LB2, NAV)
        LCOMBO(bt4,        &bt BT_SEL 4,   LM1 LB1, NAV)
        LCOMBO(bt_clr,     &bt BT_CLR,     LM0 LB0, NAV)

        // ... symbols from digits row
        LCOMBO(excl_,      &kp EXCL,      LN4 LT4, BASE)
        LCOMBO(at_,        &kp AT,        LN3 LT3, BASE)
        LCOMBO(hash_,      &kp HASH,      LN2 LT2, BASE)
        LCOMBO(dollar_,    &kp DOLLAR,    LN1 LT1, BASE)
        LCOMBO(percent_,   &kp PERCENT,   LN0 LT0, BASE)
        LCOMBO(caret_,     &kp CARET,     RN0 RT0, BASE)
        LCOMBO(ampersand_, &kp AMPERSAND, RN1 RT1, BASE)
        LCOMBO(asterisk_,  &kp ASTERISK,  RN2 RT2, BASE)

        // ... mouse keys
        LCOMBO(mouse2, &mkp RCLK, RT0 RM0, DIG)
        LCOMBO(mouse3, &mkp MCLK, RM0 RB0, DIG)
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: a base for kmonad mapping: no nav layer, no home row mods — kmonad provides them
        Base {
            bindings = <
/*╭0────────────1─────────────2─────────────3─────────────4─────────────5────────╮   ╭6────────╮   ╭7─────────────8─────────────9─────────────10────────────11────────────12───────╮     */
   &kp GRAVE    &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &kp UP        &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp RBKT
/*│13           14            15            16            17            18       │   │19       │   │20            21            22            23            24            25       │     */
   &kp TAB      &kp Q         &kp W         &kp E         &kp R         &kp T         &kp DOWN      &kp Y         &kp U         &kp I         &kp O         &kp P         &kp LBKT
/*│26           27            28            29            30            31       │   │32       │   │33            34            35            36            37            38       │     */
   &kp CAPS     &kp A         &kp S         &kp D         &kp F         &kp G         &kp LEFT      &kp H         &kp J         &kp K         &kp L         &kp SEMI      &kp APOS
/*│39           40            41            42            43            44       │   │45       │   │46            47            48            49            50            51       │     */
   &kp LSHFT    &kp Z         &kp X         &kp C         &kp V         &kp B         &kp RIGHT     &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &kp RSHFT
/*│52           53            54            55            56            57       │   │58       │   │59            60            61            62            63          │                */
   &to SOLO     &kp UP        &kp DOWN      &kp RALT      &kp TAB       &kp SPACE     &kp ENTER     &kp ENTER     &kp APOS      &kp RCTRL     &kp MINUS     &kp EQUAL
/*             ╰53────────────54────────────55────────────56────────────57───────╯   ╰58───────╯   ╰59────────────60────────────61────────────62────────────63──────────╯                */
            >;
            sensor-bindings = <&scroll_encoder>;
            display-name = "Base";
        };

        // Layer 1: autonomous layer that works on all dumb devices like android phones; home row mods and nav layer is done by zmk means
        Solo {
            bindings = <
/*╭0────────────1─────────────2─────────────3─────────────4─────────────5────────╮   ╭6────────╮   ╭7─────────────8─────────────9─────────────10────────────11────────────12───────╮     */
   ___          ___           ___           ___           ___           ___            ___          ___            ___            ___         ___           ___            ___
   ___          ___           ___           ___           ___           ___            ___          ___            ___            ___         ___           ___            ___
   &mo NAV      &hm LCTRL A   &hm LALT S    &hm LSHFT D   &hm LCTRL F   ___            ___          ___            &hm LCTRL J    &hm LSHFT K &hm LALT L    &hm LCTRL SEMI ___
   ___          ___           ___           ___           ___           ___            ___          ___            ___            ___         ___           ___            ___
   &to BASE     ___           ___           &ltq NAV RALT &ltq DIG TAB  &hm LWIN SPACE ___          &ltq NAV ENTER &hm LSHFT APOS ___         ___           ___
/*             ╰53────────────54────────────55────────────56────────────57───────╯   ╰58───────╯   ╰59────────────60────────────61────────────62────────────63──────────╯                */
            >;
            sensor-bindings = <&scroll_encoder>;
            display-name = "Solo";
        };

        // Layer 2: Navigation
        Nav {
            bindings = <
/*╭0────────────1─────────────2─────────────3─────────────4─────────────5────────╮   ╭6────────╮   ╭7─────────────8─────────────9─────────────10────────────11────────────12───────╮     */
   ___          &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &mmv MOVE_UP    &kp F6      &kp F7        &kp F8        &kp F9        &kp F10       &kp RBKT
   ___          &kp PG_UP     &kp PG_DN     &kp LC(BSPC)  &kp LC(DEL)   &kp EQUAL     &mmv MOVE_DOWN  &mkp MB2    &kp LC(LEFT)  &kp UP        &kp LC(RIGHT) &kp BSLH      &kp LBKT
   ___          &kp TAB       &kp ENTER     &kp BSPC      &kp DEL       &kp ESC       &mmv MOVE_LEFT  &kp GRAVE   &kp LEFT      &kp DOWN      &kp RIGHT     &kp SEMI      &kp APOS
   ___          &kp LC(Z)     &kp LC(X)     &kp LC(C)     &kp LC(V)     &kp LC(B)     &mmv MOVE_RIGHT &kp HOME    &kp END       &kp COMMA     &kp DOT       &kp FSLH      &kp RSHFT
   ___          ___           ___           ___           ___           ___           &mkp LCLK       ___         ___           &mkp MB3      &mkp MB4      &mkp MB5
/*             ╰53────────────54────────────55────────────56────────────57───────╯   ╰58───────╯   ╰59────────────60────────────61────────────62────────────63──────────╯                */
            >;
            sensor-bindings = <&scroll_encoder>;
            display-name = "Nav";
        };

        // Layer 3: Additional navigation, numpad and service bindings.
        Digits {
            bindings = <
/*╭0────────────1─────────────2─────────────3─────────────4─────────────5────────╮   ╭6────────╮   ╭7─────────────8─────────────9─────────────10────────────11────────────12───────╮     */
   &bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &mmv MOVE_UP    ___         ___           ___           ___           ___           &kp F12
   ___          &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &mmv MOVE_DOWN  &kp F6      &kp F7        &kp F8        &kp F9        &kp F10       &kp F11
   ___          &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &mmv MOVE_LEFT  &kp N6      &kp N7        &kp N8        &kp N9        &kp N0        ___
   ___          &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PERCENT   &mmv MOVE_RIGHT &kp CARET   &kp AMPS      &kp STAR      &kp LPAR      &kp RPAR      ___
   ___          ___           ___           ___           ___           ___           &mkp LCLK       ___         ___           ___           ___           ___
/*             ╰53────────────54────────────55────────────56────────────57───────╯   ╰58───────╯   ╰59────────────60────────────61────────────62────────────63──────────╯                */
            >;
            sensor-bindings = <&scroll_encoder>;
            display-name = "Digits";
        };
  };
};
