#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
      compatible = "zmk,behavior-macro"; \
      #binding-cells = <0>; \
      wait-ms = <0>; \
      tap-ms = <10>; \
      bindings = <BINDINGS>; \
  };

MACRO(c_z, &kp SPC &kp T &kp H &kp E)
MACRO(c_i, &kp SPC &kp I &kp S)
MACRO(c_w, &kp SPC &kp W &kp A &kp S)
MACRO(c_o, &kp SPC &kp O &kp F)
MACRO(c_t, &kp SPC &kp T &kp O)
MACRO(c_f, &kp SPC &kp F &kp O &kp R)
MACRO(c_a, &kp SPC &kp A &kp R &kp E)
MACRO(c_ad, &kp SPC &kp A &kp N &kp D)
MACRO(c_n, &kp SPC &kp N &kp O &kp T)
MACRO(c_wi, &kp SPC &kp W &kp I &kp T &kp H)
MACRO(c_b, &kp SPC &kp B &kp E)
MACRO(c_wl, &kp SPC &kp W &kp I &kp L &kp L)
MACRO(c_zs, &kp SPC &kp T &kp H &kp I &kp S)
MACRO(c_y, &kp SPC &kp Y &kp O &kp U)
MACRO(c_al, &kp SPC &kp A &kp L &kp S &kp O)
MACRO(c_we, &kp SPC &kp W &kp E &kp R &kp E)
MACRO(c_h, &kp SPC &kp H &kp A &kp V &kp E)
MACRO(c_hs, &kp SPC &kp H &kp A &kp S)
MACRO(c_c, &kp SPC &kp C &kp A &kp N)
MACRO(c_fm, &kp SPC &kp F &kp R &kp O &kp M)
MACRO(c_au, &kp SPC &kp A &kp B &kp O &kp U &kp T)
MACRO(c_j, &kp SPC &kp J &kp U &kp S &kp T)
MACRO(c_yr, &kp SPC &kp Y &kp O &kp U &kp R)
MACRO(c_v, &kp SPC &kp V &kp E &kp R &kp Y)
MACRO(c_m, &kp SPC &kp M &kp Y)
MACRO(c_s, &kp SPC &kp S &kp A &kp I &kp D)
MACRO(c_hi, &kp SPC &kp H &kp I &kp S)
MACRO(c_g, &kp SPC &kp G &kp O &kp O &kp D)
MACRO(c_hd, &kp SPC &kp H &kp A &kp D)
MACRO(c_d, &kp SPC &kp D &kp O)
MACRO(c_l, &kp SPC &kp L &kp I &kp K &kp E)
MACRO(c_oe, &kp SPC &kp O &kp N &kp SPC &kp T &kp H &kp E)
MACRO(c_he, &kp SPC &kp H &kp E &kp R)
MACRO(c_r, &kp SPC &kp R &kp E &kp A &kp L &kp L &kp Y)
MACRO(c_wd, &kp SPC &kp W &kp O &kp U &kp L &kp D)
MACRO(c_ou, &kp SPC &kp O &kp U &kp R)
MACRO(c_zy, &kp SPC &kp T &kp H &kp E &kp Y)
MACRO(c_zm, &kp SPC &kp T &kp H &kp E &kp M)
MACRO(c_tm, &kp SPC &kp T &kp I &kp M &kp E)
MACRO(c_ga, &kp SPC &kp G &kp R &kp E &kp A &kp T)
MACRO(c_sd, &kp SPC &kp S &kp H &kp O &kp U &kp L &kp D)
MACRO(c_nd, &kp SPC &kp N &kp E &kp E &kp D)
MACRO(c_di, &kp SPC &kp D &kp I &kp D)
MACRO(c_wa, &kp SPC &kp W &kp A &kp N &kp T)
MACRO(c_nv, &kp SPC &kp N &kp E &kp V &kp E &kp R)
MACRO(c_bn, &kp SPC &kp B &kp E &kp E &kp N)
MACRO(c_zi, &kp SPC &kp T &kp H &kp E &kp I &kp R)
MACRO(c_hr, &kp SPC &kp H &kp E &kp R &kp E)
MACRO(c_io, &kp SPC &kp I &kp N &kp T &kp O)
MACRO(c_nw, &kp SPC &kp N &kp O &kp W)
MACRO(c_do, &kp SPC &kp D &kp O &kp N &kp ’ &kp T)
MACRO(c_as, &kp SPC &kp A &kp L &kp W &kp A &kp Y &kp S)
MACRO(c_cl, &kp SPC &kp C &kp O &kp U &kp L &kp D)
MACRO(c_sm, &kp SPC &kp S &kp O &kp M &kp E)
MACRO(c_ne, &kp SPC &kp N &kp E &kp W)
MACRO(c_ot, &kp SPC &kp O &kp U &kp T)
MACRO(c_go, &kp SPC &kp G &kp O &kp T)
MACRO(c_tw, &kp SPC &kp T &kp W &kp O)
MACRO(c_sl, &kp SPC &kp S &kp T &kp I &kp L &kp L)
MACRO(c_lv, &kp SPC &kp L &kp O &kp V &kp E)
MACRO(c_u, &kp SPC &kp U &kp P)
MACRO(c_p, &kp SPC &kp P &kp E &kp O &kp P &kp L &kp E)
MACRO(c_ge, &kp SPC &kp G &kp E &kp T)
MACRO(c_wk, &kp SPC &kp W &kp O &kp R &kp K)
MACRO(c_k, &kp SPC &kp K &kp N &kp O &kp W)
MACRO(c_gm, &kp SPC &kp G &kp A &kp M &kp E)
MACRO(c_md, &kp SPC &kp M &kp A &kp D &kp E)
MACRO(c_lt, &kp SPC &kp L &kp O &kp T)
MACRO(c_fs, &kp SPC &kp F &kp I &kp R &kp S &kp T)
MACRO(c_se, &kp SPC &kp S &kp H &kp E)
MACRO(c_ri, &kp SPC &kp R &kp I &kp G &kp H &kp T)
MACRO(c_an, &kp SPC &kp A &kp N &kp Y)
MACRO(c_wy, &kp SPC &kp W &kp A &kp Y)
MACRO(c_oy, &kp SPC &kp O &kp N &kp L &kp Y)
MACRO(c_dt, &kp SPC &kp D &kp O &kp N &kp QUOT &kp T)
MACRO(c_ae, &kp SPC &kp A &kp N &kp O &kp T &kp H &kp E &kp R)
MACRO(c_ao, &kp SPC &kp A &kp SPC &kp L &kp O &kp T)
MACRO(c_df, &kp SPC &kp D &kp I &kp F &kp F &kp E &kp R &kp E &kp N &kp T)
MACRO(c_dy, &kp SPC &kp D &kp A &kp Y)
MACRO(c_dit, &kp SPC &kp D &kp I &kp D &kp N &kp ’ &kp T)
MACRO(c_or, &kp SPC &kp O &kp T &kp H &kp E &kp R)
MACRO(c_bi, &kp SPC &kp B &kp I &kp G)
MACRO(c_wo, &kp SPC &kp W &kp A &kp N &kp T &kp SPC &kp T &kp O)
MACRO(c_zg, &kp SPC &kp T &kp H &kp I &kp N &kp G)
MACRO(c_ho, &kp SPC &kp H &kp O &kp M &kp E)
MACRO(c_ma, &kp SPC &kp M &kp A &kp Y)
MACRO(c_ov, &kp SPC &kp O &kp V &kp E &kp R)
MACRO(c_zk, &kp SPC &kp T &kp H &kp I &kp N &kp K)
MACRO(c_fl, &kp SPC &kp F &kp A &kp M &kp I &kp L &kp Y)
MACRO(c_mk, &kp SPC &kp M &kp A &kp K &kp E)
MACRO(c_tk, &kp SPC &kp T &kp A &kp K &kp E)
MACRO(c_sr, &kp SPC &kp S &kp T &kp O &kp R &kp Y)
MACRO(c_sc, &kp SPC &kp S &kp E &kp C &kp O &kp N &kp D)
MACRO(c_li, &kp SPC &kp L &kp I &kp F &kp E)
MACRO(c_bo, &kp SPC &kp B &kp O &kp R &kp N)
MACRO(c_ta, &kp SPC &kp T &kp E &kp A &kp M)
MACRO(c_mst, &kp SPC &kp M &kp U &kp S &kp T)
MACRO(c_ya, &kp SPC &kp Y &kp E &kp A &kp R)
MACRO(c_me, &kp SPC &kp M &kp O &kp R &kp E)
MACRO(c_e, &kp SPC &kp E &kp V &kp E &kp N)
MACRO(c_mc, &kp SPC &kp M &kp U &kp C &kp H)
MACRO(c_wel, &kp SPC &kp W &kp E &kp L &kp L)
MACRO(c_et, &kp SPC &kp E &kp V &kp E &kp N &kp T)
MACRO(c_ca, &kp SPC &kp C &kp H &kp A &kp N &kp G &kp E)
MACRO(c_er, &kp SPC &kp E &kp V &kp E &kp R &kp Y)
MACRO(c_bk, &kp SPC &kp B &kp A &kp C &kp K)
MACRO(c_is, &kp SPC &kp I &kp T &kp ’ &kp S)
MACRO(c_pe, &kp SPC &kp P &kp R &kp O &kp B &kp L &kp E &kp M)
MACRO(c_mr, &kp SPC &kp M &kp A &kp R &kp R &kp I &kp E &kp D)
MACRO(c_tok, &kp SPC &kp T &kp O &kp O &kp K)
MACRO(c_av, &kp SPC &kp A &kp V &kp A &kp I &kp L &kp A &kp B &kp L &kp E)
MACRO(c_wh, &kp SPC &kp W &kp H &kp A &kp T)
MACRO(c_fu, &kp SPC &kp F &kp O &kp U &kp N &kp D)
MACRO(c_pa, &kp SPC &kp P &kp L &kp A &kp C &kp E)
MACRO(c_gi, &kp SPC &kp G &kp O &kp I &kp N &kp G)
MACRO(c_jo, &kp SPC &kp J &kp O &kp B)
MACRO(c_pr, &kp SPC &kp P &kp R &kp E &kp T &kp T &kp Y)
MACRO(c_zu, &kp SPC &kp T &kp H &kp R &kp O &kp U &kp G &kp H)
MACRO(c_dnt, &kp SPC &kp D &kp I &kp D &kp N &kp QUOT &kp T)
MACRO(c_py, &kp SPC &kp P &kp L &kp A &kp Y)
MACRO(c_zn, &kp SPC &kp T &kp H &kp E &kp N)
MACRO(c_cn, &kp SPC &kp C &kp A &kp N &kp ’ &kp T)
MACRO(c_nt, &kp SPC &kp N &kp E &kp E &kp D &kp SPC &kp T &kp O)
MACRO(c_las, &kp SPC &kp L &kp A &kp S &kp T)
MACRO(c_rl, &kp SPC &kp R &kp E &kp A &kp L)
MACRO(c_so, &kp SPC &kp S &kp C &kp H &kp O &kp O &kp L)
MACRO(c_sam, &kp SPC &kp S &kp A &kp M &kp E)
MACRO(c_bs, &kp SPC &kp B &kp U &kp S &kp I &kp N &kp E &kp S &kp S)
MACRO(c_pt, &kp SPC &kp P &kp A &kp R &kp T)
MACRO(c_dos, &kp SPC &kp D &kp O &kp E &kp S)
MACRO(c_wr, &kp SPC &kp W &kp O &kp R &kp L &kp D)
MACRO(c_hl, &kp SPC &kp H &kp E &kp L &kp P)
MACRO(c_ci, &kp SPC &kp C &kp O &kp M &kp M &kp U &kp N &kp I &kp T &kp Y)
MACRO(c_af, &kp SPC &kp A &kp F &kp T &kp E &kp R)
MACRO(c_cas, &kp SPC &kp C &kp A &kp S &kp E)
MACRO(c_ha, &kp SPC &kp H &kp A &kp R &kp D)
MACRO(c_nx, &kp SPC &kp N &kp E &kp X &kp T)
MACRO(c_zo, &kp SPC &kp T &kp H &kp O &kp S &kp E)
MACRO(c_sad, &kp SPC &kp S &kp T &kp A &kp R &kp T &kp E &kp D)
MACRO(c_fi, &kp SPC &kp F &kp I &kp N &kp I &kp S &kp H &kp E &kp D)
MACRO(c_tda, &kp SPC &kp T &kp O &kp D &kp A &kp Y)
MACRO(c_ie, &kp SPC &kp I &kp S &kp S &kp U &kp E)
MACRO(c_of, &kp SPC &kp O &kp F &kp F)
MACRO(c_st, &kp SPC &kp S &kp T &kp A &kp R &kp T)
MACRO(c_le, &kp SPC &kp L &kp I &kp T &kp T &kp L &kp E)
MACRO(c_cu, &kp SPC &kp C &kp O &kp U &kp N &kp T &kp R &kp Y)
MACRO(c_fou, &kp SPC &kp F &kp O &kp U &kp R)
MACRO(c_lk, &kp SPC &kp L &kp O &kp O &kp K)
MACRO(c_pi, &kp SPC &kp P &kp O &kp I &kp N &kp T)
MACRO(c_dow, &kp SPC &kp D &kp O &kp W &kp N)
MACRO(c_lg, &kp SPC &kp L &kp O &kp N &kp G)
MACRO(c_wen, &kp SPC &kp W &kp E &kp N &kp T)
MACRO(c_awy, &kp SPC &kp A &kp W &kp A &kp Y)
MACRO(c_hld, &kp SPC &kp H &kp E &kp L &kp D)
MACRO(c_ar, &kp SPC &kp A &kp R &kp O &kp U &kp N &kp D)
MACRO(c_co, &kp SPC &kp C &kp A &kp N &kp N &kp O &kp T)
MACRO(c_sho, &kp SPC &kp S &kp H &kp O &kp W)
MACRO(c_eah, &kp SPC &kp E &kp A &kp C &kp H)
MACRO(c_po, &kp SPC &kp P &kp R &kp O &kp G &kp R &kp A &kp M)
MACRO(c_ald, &kp SPC &kp A &kp L &kp R &kp E &kp A &kp D &kp Y)
MACRO(c_wkd, &kp SPC &kp W &kp O &kp R &kp K &kp E &kp D)
MACRO(c_it, &kp SPC &kp I &kp T &kp QUOT &kp S)
MACRO(c_fe, &kp SPC &kp F &kp R &kp E &kp E)
MACRO(c_eri, &kp SPC &kp E &kp X &kp P &kp E &kp R &kp I &kp E &kp N &kp C &kp E)
MACRO(c_sn, &kp SPC &kp S &kp E &kp A &kp S &kp O &kp N)
MACRO(c_zsm, &kp SPC &kp T &kp H &kp E &kp SPC &kp S &kp A &kp M &kp E)
MACRO(c_are, &kp SPC &kp A &kp R &kp E &kp A)
MACRO(c_su, &kp SPC &kp S &kp U &kp P &kp P &kp O &kp R &kp T)
MACRO(c_q, &kp SPC &kp Q &kp U &kp E &kp S &kp T &kp I &kp O &kp N)
MACRO(c_ps, &kp SPC &kp P &kp R &kp O &kp C &kp E &kp S &kp S)
MACRO(c_wek, &kp SPC &kp W &kp E &kp E &kp K)
MACRO(c_sv, &kp SPC &kp S &kp E &kp R &kp V &kp I &kp C &kp E)
MACRO(c_ai, &kp SPC &kp A &kp G &kp A &kp I &kp N)
MACRO(c_can, &kp SPC &kp C &kp A &kp N &kp QUOT &kp T)
MACRO(c_fel, &kp SPC &kp F &kp E &kp E &kp L)
MACRO(c_ira, &kp SPC &kp I &kp M &kp P &kp O &kp R &kp T &kp A &kp N &kp T)
MACRO(c_ifa, &kp SPC &kp I &kp N &kp F &kp O &kp R &kp M &kp A &kp T &kp I &kp O &kp N)
MACRO(c_cal, &kp SPC &kp C &kp A &kp L &kp L)
MACRO(c_ful, &kp SPC &kp F &kp U &kp L &kp L)
MACRO(c_bz, &kp SPC &kp B &kp O &kp T &kp H)
MACRO(c_wad, &kp SPC &kp W &kp A &kp N &kp T &kp E &kp D)
MACRO(c_ng, &kp SPC &kp N &kp I &kp G &kp H &kp T)
MACRO(c_ope, &kp SPC &kp O &kp P &kp E &kp N)
MACRO(c_cam, &kp SPC &kp C &kp A &kp M &kp E)
MACRO(c_ld, &kp SPC &kp L &kp O &kp V &kp E &kp D)
MACRO(c_du, &kp SPC &kp D &kp U &kp R &kp I &kp N &kp G)
MACRO(c_wu, &kp SPC &kp W &kp I &kp T &kp H &kp O &kp U &kp T)
MACRO(c_ase, &kp SPC &kp A &kp N &kp S &kp W &kp E &kp R)
MACRO(c_fn, &kp SPC &kp F &kp I &kp N &kp D)
MACRO(c_dsn, &kp SPC &kp D &kp O &kp E &kp S &kp N &kp ’ &kp T)
MACRO(c_cy, &kp SPC &kp C &kp I &kp T &kp Y)
MACRO(c_ru, &kp SPC &kp R &kp U &kp N)
MACRO(c_hp, &kp SPC &kp H &kp A &kp P &kp P &kp Y)
MACRO(c_wg, &kp SPC &kp W &kp R &kp O &kp N &kp G)
MACRO(c_pj, &kp SPC &kp P &kp R &kp O &kp J &kp E &kp C &kp T)
MACRO(c_msc, &kp SPC &kp M &kp U &kp S &kp I &kp C)
MACRO(c_ey, &kp SPC &kp E &kp A &kp S &kp Y)
MACRO(c_whl, &kp SPC &kp W &kp H &kp O &kp L &kp E)
MACRO(c_pu, &kp SPC &kp P &kp U &kp B &kp L &kp I &kp C)
MACRO(c_fod, &kp SPC &kp F &kp O &kp O &kp D)
MACRO(c_reo, &kp SPC &kp R &kp E &kp P &kp O &kp R &kp T)
MACRO(c_hse, &kp SPC &kp H &kp O &kp U &kp S &kp E)
MACRO(c_hg, &kp SPC &kp H &kp I &kp G &kp H)
MACRO(c_nes, &kp SPC &kp N &kp E &kp E &kp D &kp S)
MACRO(c_tu, &kp SPC &kp T &kp R &kp U &kp E)
MACRO(c_ue, &kp SPC &kp U &kp S &kp E)
MACRO(c_fue, &kp SPC &kp F &kp U &kp T &kp U &kp R &kp E)
MACRO(c_udr, &kp SPC &kp U &kp N &kp D &kp E &kp R)
MACRO(c_fie, &kp SPC &kp F &kp I &kp V &kp E)
MACRO(c_bd, &kp SPC &kp B &kp A &kp D)
MACRO(c_qi, &kp SPC &kp Q &kp U &kp I &kp T &kp E)
MACRO(c_wae, &kp SPC &kp W &kp A &kp T &kp E &kp R)
MACRO(c_eou, &kp SPC &kp E &kp N &kp O &kp U &kp G &kp H)
MACRO(c_sml, &kp SPC &kp S &kp I &kp M &kp P &kp L &kp E)
MACRO(c_fw, &kp SPC &kp F &kp O &kp L &kp L &kp O &kp W)
MACRO(c_hv, &kp SPC &kp H &kp A &kp V &kp E &kp SPC &kp T &kp O)
MACRO(c_eig, &kp SPC &kp E &kp V &kp E &kp R &kp Y &kp T &kp H &kp I &kp N &kp G)
MACRO(c_lst, &kp SPC &kp L &kp O &kp S &kp T)
MACRO(c_ch, &kp SPC &kp C &kp H &kp I &kp L &kp D &kp R &kp E &kp N)
MACRO(c_liv, &kp SPC &kp L &kp I &kp V &kp E)
MACRO(c_pes, &kp SPC &kp P &kp E &kp R &kp S &kp O &kp N)
MACRO(c_meg, &kp SPC &kp M &kp E &kp E &kp T &kp I &kp N &kp G)
MACRO(c_usd, &kp SPC &kp U &kp S &kp E &kp D)
MACRO(c_hoe, &kp SPC &kp H &kp O &kp P &kp E)
MACRO(c_smal, &kp SPC &kp S &kp M &kp A &kp L &kp L)
MACRO(c_sg, &kp SPC &kp S &kp O &kp M &kp E &kp T &kp H &kp I &kp N &kp G)
MACRO(c_let, &kp SPC &kp L &kp E &kp F &kp T)
MACRO(c_pd, &kp SPC &kp P &kp R &kp O &kp V &kp I &kp D &kp E &kp D)
MACRO(c_ida, &kp SPC &kp I &kp D &kp E &kp A)
MACRO(c_aig, &kp SPC &kp A &kp N &kp Y &kp T &kp H &kp I &kp N &kp G)
MACRO(c_gal, &kp SPC &kp G &kp O &kp A &kp L)
MACRO(c_tak, &kp SPC &kp T &kp A &kp K &kp E &kp N)
MACRO(c_nzg, &kp SPC &kp N &kp O &kp T &kp H &kp I &kp N &kp G)
MACRO(c_mb, &kp SPC &kp M &kp E &kp M &kp B &kp E &kp R)
MACRO(c_ais, &kp SPC &kp A &kp G &kp A &kp I &kp N &kp S &kp T)
MACRO(c_mae, &kp SPC &kp M &kp A &kp T &kp T &kp E &kp R)
MACRO(c_sua, &kp SPC &kp S &kp I &kp T &kp U &kp A &kp T &kp I &kp O &kp N)
MACRO(c_pf, &kp SPC &kp P &kp E &kp R &kp F &kp E &kp C &kp T)
MACRO(c_ak, &kp SPC &kp A &kp S &kp K &kp E &kp D)
MACRO(c_pad, &kp SPC &kp P &kp L &kp A &kp Y &kp E &kp D)
MACRO(c_sop, &kp SPC &kp S &kp T &kp O &kp P)
MACRO(c_bl, &kp SPC &kp B &kp E &kp L &kp I &kp E &kp V &kp E)
MACRO(c_zh, &kp SPC &kp T &kp H &kp O &kp U &kp G &kp H &kp T)
MACRO(c_nae, &kp SPC &kp N &kp A &kp M &kp E)
MACRO(c_tod, &kp SPC &kp T &kp O &kp SPC &kp D &kp O)
MACRO(c_gu, &kp SPC &kp G &kp U &kp Y)
MACRO(c_suc, &kp SPC &kp S &kp U &kp C &kp H)
MACRO(c_dfl, &kp SPC &kp D &kp E &kp F &kp I &kp N &kp I &kp T &kp E &kp L &kp Y)
MACRO(c_dis, &kp SPC &kp D &kp E &kp C &kp I &kp S &kp I &kp O &kp N)
MACRO(c_sel, &kp SPC &kp S &kp P &kp E &kp C &kp I &kp A &kp L)
MACRO(c_bu, &kp SPC &kp B &kp U &kp I &kp L &kp D &kp I &kp N &kp G)
MACRO(c_gp, &kp SPC &kp G &kp R &kp O &kp U &kp P)
MACRO(c_pc, &kp SPC &kp P &kp O &kp L &kp I &kp C &kp E)
MACRO(c_wan, &kp SPC &kp W &kp A &kp S &kp N &kp ’ &kp T)
MACRO(c_pre, &kp SPC &kp P &kp R &kp O &kp P &kp E &kp R &kp T &kp Y)
MACRO(c_prd, &kp SPC &kp P &kp R &kp O &kp U &kp D)
MACRO(c_coa, &kp SPC &kp C &kp O &kp M &kp P &kp A &kp N &kp Y)
MACRO(c_dst, &kp SPC &kp D &kp O &kp E &kp S &kp N &kp QUOT &kp T)
MACRO(c_bok, &kp SPC &kp B &kp O &kp O &kp K)
MACRO(c_amg, &kp SPC &kp A &kp M &kp A &kp Z &kp I &kp N &kp G)
MACRO(c_sta, &kp SPC &kp S &kp T &kp A &kp T &kp E)
MACRO(c_rd, &kp SPC &kp R &kp E &kp A &kp D)
MACRO(c_wm, &kp SPC &kp W &kp E &kp L &kp C &kp O &kp M &kp E)
MACRO(c_hge, &kp SPC &kp H &kp U &kp G &kp E)
MACRO(c_sy, &kp SPC &kp S &kp A &kp Y)
MACRO(c_ej, &kp SPC &kp E &kp N &kp J &kp O &kp Y &kp E &kp D)
MACRO(c_ail, &kp SPC &kp A &kp R &kp T &kp I &kp C &kp L &kp E)
MACRO(c_goe, &kp SPC &kp G &kp O &kp V &kp E &kp R &kp N &kp M &kp E &kp N &kp T)
MACRO(c_kd, &kp SPC &kp K &kp I &kp D &kp S)
MACRO(c_bc, &kp SPC &kp B &kp E &kp C &kp O &kp M &kp E)
MACRO(c_aul, &kp SPC &kp A &kp C &kp T &kp U &kp A &kp L &kp L &kp Y)
MACRO(c_alm, &kp SPC &kp A &kp L &kp M &kp O &kp S &kp T)
MACRO(c_ba, &kp SPC &kp B &kp E &kp A &kp U &kp T &kp I &kp F &kp U &kp L)
MACRO(c_cil, &kp SPC &kp C &kp E &kp R &kp T &kp A &kp I &kp N &kp L &kp Y)
MACRO(c_kn, &kp SPC &kp K &kp I &kp N &kp D)
MACRO(c_zd, &kp SPC &kp T &kp H &kp I &kp R &kp D)
MACRO(c_srd, &kp SPC &kp S &kp C &kp O &kp R &kp E &kp D)
MACRO(c_ciu, &kp SPC &kp C &kp O &kp N &kp T &kp I &kp N &kp U &kp E)
MACRO(c_cha, &kp SPC &kp C &kp H &kp A &kp N &kp G &kp E &kp D)
MACRO(c_sro, &kp SPC &kp S &kp T &kp R &kp O &kp N &kp G)
MACRO(c_lae, &kp SPC &kp L &kp O &kp C &kp A &kp T &kp E &kp D)
MACRO(c_yds, &kp SPC &kp Y &kp A &kp R &kp D &kp S)
MACRO(c_toe, &kp SPC &kp T &kp O &kp G &kp E &kp T &kp H &kp E &kp R)
MACRO(c_wdf, &kp SPC &kp W &kp O &kp N &kp D &kp E &kp R &kp F &kp U &kp L)
MACRO(c_eml, &kp SPC &kp E &kp X &kp A &kp M &kp P &kp L &kp E)
MACRO(c_psd, &kp SPC &kp P &kp A &kp S &kp S &kp E &kp D)
MACRO(c_and, &kp SPC &kp A &kp T &kp T &kp E &kp N &kp D &kp E &kp D)
MACRO(c_ern, &kp SPC &kp E &kp V &kp E &kp R &kp Y &kp O &kp N &kp E)
MACRO(c_svn, &kp SPC &kp S &kp E &kp V &kp E &kp N)
MACRO(c_bad, &kp SPC &kp B &kp O &kp A &kp R &kp D)
MACRO(c_eih, &kp SPC &kp E &kp I &kp G &kp H &kp T)
MACRO(c_cos, &kp SPC &kp C &kp O &kp U &kp R &kp S &kp E)
MACRO(c_ies, &kp SPC &kp I &kp N &kp T &kp E &kp R &kp E &kp S &kp T &kp I &kp N &kp G)
MACRO(c_flw, &kp SPC &kp F &kp O &kp L &kp L &kp O &kp W &kp E &kp D)
MACRO(c_ept, &kp SPC &kp E &kp X &kp P &kp E &kp C &kp T &kp E &kp D)
MACRO(c_svd, &kp SPC &kp S &kp E &kp R &kp V &kp E &kp D)
MACRO(c_mv, &kp SPC &kp M &kp O &kp V &kp E)
MACRO(c_dg, &kp SPC &kp D &kp A &kp U &kp G &kp H &kp T &kp E &kp R)
MACRO(c_uda, &kp SPC &kp U &kp N &kp D &kp E &kp R &kp S &kp T &kp A &kp N &kp D)
MACRO(c_coi, &kp SPC &kp C &kp H &kp O &kp I &kp C &kp E)
MACRO(c_yt, &kp SPC &kp Y &kp E &kp T)
MACRO(c_hap, &kp SPC &kp H &kp A &kp P &kp P &kp E &kp N)
MACRO(c_ht, &kp SPC &kp H &kp I &kp S &kp T &kp O &kp R &kp Y)
MACRO(c_pw, &kp SPC &kp P &kp O &kp W &kp E &kp R)
MACRO(c_rid, &kp SPC &kp R &kp E &kp C &kp E &kp I &kp V &kp E &kp D)
MACRO(c_har, &kp SPC &kp H &kp E &kp A &kp R &kp T)
MACRO(c_ist, &kp SPC &kp I &kp S &kp N &kp ’ &kp T)
MACRO(c_wrd, &kp SPC &kp W &kp O &kp R &kp D)
MACRO(c_fae, &kp SPC &kp F &kp A &kp V &kp O &kp R &kp I &kp T &kp E)
MACRO(c_suf, &kp SPC &kp S &kp T &kp U &kp F &kp F)
MACRO(c_tou, &kp SPC &kp T &kp O &kp U &kp G &kp H)
MACRO(c_met, &kp SPC &kp M &kp O &kp M &kp E &kp N &kp T)
MACRO(c_zl, &kp SPC &kp T &kp H &kp E &kp SPC &kp W &kp O &kp R &kp L &kp D)
MACRO(c_wrk, &kp SPC &kp W &kp O &kp R &kp K &kp S)
MACRO(c_dif, &kp SPC &kp D &kp I &kp F &kp F &kp E &kp R &kp E &kp N &kp C &kp E)
MACRO(c_rod, &kp SPC &kp R &kp E &kp P &kp O &kp R &kp T &kp E &kp D)
MACRO(c_bh, &kp SPC &kp B &kp E &kp H &kp I &kp N &kp D)
MACRO(c_lkd, &kp SPC &kp L &kp O &kp O &kp K &kp E &kp D)
MACRO(c_sic, &kp SPC &kp S &kp I &kp N &kp C &kp E)
MACRO(c_lis, &kp SPC &kp L &kp I &kp S &kp T)
MACRO(c_par, &kp SPC &kp P &kp A &kp R &kp T &kp Y)
MACRO(c_iv, &kp SPC &kp I &kp N &kp V &kp E &kp S &kp T &kp I &kp G &kp A &kp T &kp I &kp O &kp N)
MACRO(c_had, &kp SPC &kp H &kp A &kp P &kp P &kp E &kp N &kp E &kp D)
MACRO(c_day, &kp SPC &kp D &kp A &kp Y &kp S)
MACRO(c_mer, &kp SPC &kp M &kp O &kp T &kp H &kp E &kp R)
MACRO(c_ul, &kp SPC &kp U &kp N &kp T &kp I &kp L)
MACRO(c_yg, &kp SPC &kp Y &kp O &kp U &kp N &kp G)
MACRO(c_rq, &kp SPC &kp R &kp E &kp Q &kp U &kp I &kp R &kp E &kp D)
MACRO(c_ke, &kp SPC &kp K &kp E &kp E &kp P)
MACRO(c_tks, &kp SPC &kp T &kp A &kp K &kp E &kp S)
MACRO(c_ras, &kp SPC &kp R &kp E &kp A &kp S &kp O &kp N)
MACRO(c_kf, &kp SPC &kp K &kp I &kp N &kp D &kp SPC &kp O &kp F)
MACRO(c_wma, &kp SPC &kp W &kp O &kp M &kp A &kp N)
MACRO(c_chl, &kp SPC &kp C &kp H &kp A &kp L &kp L &kp E &kp N &kp G &kp E)
MACRO(c_ln, &kp SPC &kp L &kp I &kp N &kp E)
MACRO(c_sly, &kp SPC &kp S &kp I &kp M &kp P &kp L &kp Y)
MACRO(c_ori, &kp SPC &kp O &kp P &kp P &kp O &kp R &kp T &kp U &kp N &kp I &kp T &kp Y)
MACRO(c_sot, &kp SPC &kp S &kp H &kp O &kp T)
MACRO(c_cul, &kp SPC &kp C &kp O &kp U &kp L &kp D &kp SPC &kp B &kp E)
MACRO(c_tow, &kp SPC &kp T &kp O &kp W &kp N)
MACRO(c_aie, &kp SPC &kp A &kp SPC &kp L &kp I &kp T &kp T &kp L &kp E)
MACRO(c_her, &kp SPC &kp H &kp E &kp A &kp R)
MACRO(c_kne, &kp SPC &kp K &kp N &kp E &kp W)
MACRO(c_pia, &kp SPC &kp P &kp O &kp L &kp I &kp T &kp I &kp C &kp A &kp L)
MACRO(c_eit, &kp SPC &kp E &kp X &kp C &kp I &kp T &kp E &kp D)
MACRO(c_cou, &kp SPC &kp C &kp O &kp U &kp P &kp L &kp E)
MACRO(c_gae, &kp SPC &kp G &kp A &kp V &kp E)
MACRO(c_lvs, &kp SPC &kp L &kp I &kp V &kp E &kp S)
MACRO(c_ard, &kp SPC &kp A &kp R &kp R &kp E &kp S &kp T &kp E &kp D)
MACRO(c_zou, &kp SPC &kp T &kp H &kp O &kp U &kp G &kp H)
MACRO(c_cls, &kp SPC &kp C &kp L &kp A &kp S &kp S)
MACRO(c_wok, &kp SPC &kp W &kp O &kp R &kp K &kp I &kp N &kp G)
MACRO(c_iat, &kp SPC &kp I &kp N &kp SPC &kp T &kp H &kp A &kp T)
MACRO(c_pid, &kp SPC &kp P &kp R &kp E &kp S &kp I &kp D &kp E &kp N &kp T)
MACRO(c_hf, &kp SPC &kp H &kp A &kp L &kp F)
MACRO(c_fc, &kp SPC &kp F &kp A &kp C &kp E)
MACRO(c_scn, &kp SPC &kp S &kp C &kp E &kp N &kp E)
MACRO(c_mes, &kp SPC &kp M &kp I &kp N &kp U &kp T &kp E &kp S)
MACRO(c_tes, &kp SPC &kp T &kp I &kp M &kp E &kp S)
MACRO(c_wei, &kp SPC &kp W &kp E &kp B &kp S &kp I &kp T &kp E)
MACRO(c_lkg, &kp SPC &kp L &kp O &kp O &kp K &kp I &kp N &kp G)
MACRO(c_nr, &kp SPC &kp N &kp U &kp M &kp B &kp E &kp R)
MACRO(c_vd, &kp SPC &kp V &kp I &kp D &kp E &kp O)
MACRO(c_chi, &kp SPC &kp C &kp H &kp I &kp L &kp D)
MACRO(c_qe, &kp SPC &kp Q &kp U &kp E &kp S &kp T &kp I &kp O &kp N &kp S)
MACRO(c_smr, &kp SPC &kp S &kp U &kp M &kp M &kp E &kp R)
MACRO(c_psi, &kp SPC &kp P &kp O &kp S &kp I &kp T &kp I &kp O &kp N)
MACRO(c_doi, &kp SPC &kp D &kp O &kp I &kp N &kp G)
MACRO(c_aci, &kp SPC &kp A &kp C &kp T &kp I &kp O &kp N)
MACRO(c_lig, &kp SPC &kp L &kp I &kp G &kp H &kp T)
MACRO(c_tul, &kp SPC &kp T &kp R &kp U &kp L &kp Y)
MACRO(c_aso, &kp SPC &kp A &kp B &kp S &kp O &kp L &kp U &kp T &kp E &kp L &kp Y)
MACRO(c_sva, &kp SPC &kp S &kp E &kp V &kp E &kp R &kp A &kp L)
MACRO(c_ofi, &kp SPC &kp O &kp F &kp F &kp I &kp C &kp E)
MACRO(c_doit, &kp SPC &kp D &kp O &kp SPC &kp I &kp T)
MACRO(c_idl, &kp SPC &kp I &kp M &kp M &kp E &kp D &kp I &kp A &kp T &kp E &kp L &kp Y)
MACRO(c_ser, &kp SPC &kp S &kp E &kp R &kp I &kp O &kp U &kp S)
MACRO(c_fz, &kp SPC &kp F &kp O &kp R &kp SPC &kp T &kp H &kp A &kp T)
MACRO(c_hrd, &kp SPC &kp H &kp E &kp A &kp R &kp D)
MACRO(c_cml, &kp SPC &kp C &kp O &kp M &kp P &kp L &kp E &kp T &kp E &kp L &kp Y)
MACRO(c_sye, &kp SPC &kp S &kp Y &kp S &kp T &kp E &kp M)
MACRO(c_rld, &kp SPC &kp R &kp E &kp L &kp E &kp A &kp S &kp E &kp D)
MACRO(c_cnl, &kp SPC &kp C &kp U &kp R &kp R &kp E &kp N &kp T &kp L &kp Y)
MACRO(c_slr, &kp SPC &kp S &kp I &kp M &kp I &kp L &kp A &kp R)
MACRO(c_sue, &kp SPC &kp S &kp T &kp U &kp D &kp E &kp N &kp T &kp S)
MACRO(c_fih, &kp SPC &kp F &kp I &kp G &kp H &kp T)
MACRO(c_stu, &kp SPC &kp S &kp T &kp U &kp D &kp E &kp N &kp T)
MACRO(c_pie, &kp SPC &kp P &kp R &kp I &kp C &kp E)
MACRO(c_ks, &kp SPC &kp K &kp I &kp L &kp L &kp S)
MACRO(c_asit, &kp SPC &kp A &kp S &kp S &kp I &kp S &kp T &kp S)
MACRO(c_zc, &kp SPC &kp T &kp H &kp E &kp SPC &kp C &kp A &kp S &kp E)
MACRO(c_dls, &kp SPC &kp D &kp E &kp T &kp A &kp I &kp L &kp S)
MACRO(c_san, &kp SPC &kp S &kp T &kp A &kp T &kp E &kp M &kp E &kp N &kp T)
MACRO(c_msd, &kp SPC &kp M &kp I &kp S &kp S &kp E &kp D)
MACRO(c_lav, &kp SPC &kp L &kp E &kp A &kp V &kp E)
MACRO(c_ent, &kp SPC &kp E &kp N &kp T &kp I &kp R &kp E)
MACRO(c_psa, &kp SPC &kp P &kp E &kp R &kp S &kp O &kp N &kp A &kp L)
MACRO(c_rdy, &kp SPC &kp R &kp E &kp A &kp D &kp Y)
MACRO(c_ban, &kp SPC &kp B &kp E &kp G &kp A &kp N)
MACRO(c_ofe, &kp SPC &kp O &kp F &kp T &kp E &kp N)
MACRO(c_dfu, &kp SPC &kp D &kp I &kp F &kp F &kp I &kp C &kp U &kp L &kp T)
MACRO(c_cau, &kp SPC &kp C &kp A &kp U &kp S &kp E)
MACRO(c_aln, &kp SPC &kp A &kp L &kp O &kp N &kp E)
MACRO(c_lks, &kp SPC &kp L &kp O &kp O &kp K &kp S)
MACRO(c_wat, &kp SPC &kp W &kp A &kp N &kp T &kp S)
MACRO(c_fne, &kp SPC &kp F &kp I &kp N &kp E)
MACRO(c_lat, &kp SPC &kp L &kp A &kp T &kp E)
